<img src="../../assets/Kirti-Toran-Banner.jpg" alt="Kirti Toran Banner" style="width: 100%; height: 700px; margin-bottom: 3%;">
<div class="container kirti-content">
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">About The Location</h5>
    <p>The town is famous for its torans, a pair of 12th century columns supporting an arch, about 40 feet tall built in red and yellow sandstone, just north of the walled town. They stand majestically on the bank of Sharmistha Talav, on a road going down from Arjun Bari. They are among the few surviving examples of the entrance gates, once a regular feature of the architecture of Gujarat in the Solanki period. The carving style is similar to the Rudra Mahalaya at Sidhpur.</p>
    <p>Perhaps erected after a war victory, the architecture is embellished with carvings of battle and hunting scenes. The one to the east is in better condition and has been used as a symbol of Gujarat in recent times. The torans might have served as an entrance to a large temple complex, but there are no remains found here.</p>
    <img src="../../assets/kirti-toran-image.jpg" class="my-5" alt="Kirti Toran Image" style="width: 100%;">
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container get-there">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">How to Get There?</h4>
    <br><br>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-road.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Road</h6>
            <p class="text-muted">Mehsana (47 km), Ahmedabad (111 km). Local Transport: Non-metered auto rickshaws.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-train.png" alt="" class="direction-imgs">
        <span class="transport-train">
            <h6>By Train</h6>
            <p class="text-muted">Siddhapur is a railway station on Ahmedabad - New Delhi railway line, 42 km from Vadnagar.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 5%;">
        <img src="../../assets/by-air.png" alt="" style="height: 100px; width: 250px;">
        <span class="transport-flight">
            <h6>By Air</h6>
            <p class="text-muted">Nearest airport is Ahmedabad (111 km).</p>
        </span>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container kirti-content-lower">
    <h3 style="font-family: 'Roboto Slab', serif; margin-top: 3%; margin-bottom: 5%;">Nearby Attractions</h3>
    <div class="row">
        <div class="col-4 destination-container-image">
            <a routerLink="/modhera-sun-temple" class="darken">
                <img src="../../assets/suntemple.jpg" alt="Modhera Sun Temple" style="height: 300px; width: 300px;">
                <h5>Modhera Sun Temple</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/jain-temple" class="darken">
                <img src="../../assets/Taranga_Temple_thumbnail.jpg" alt="Jain Temple" style="height: 300px; width: 300px;">
                <h5>Taranga (Hill) Jain Temple</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/taranga-caves" class="darken">
                <img src="../../assets/Taranga-caves-thumbnail.jpg" alt="Taranga Caves" style="height: 300px; width: 300px;">
                <h5>Taranga Caves</h5>
            </a>
        </div>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>