<img src="../../assets/Bhalka-Tirth-banner.jpg" alt="Bhalka Tirth Banner" style="width: 100%; height: 700px; margin-bottom: 3%;">
<div class="container bhalka-content">
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">About The Location</h5>
    <p>Bhalka Teerth is one of the most magnificent temples of Somnath city. The temple at Bhalka Teerth is known as Mahaprabhuji's Bethak, and a tulsi tree has been planted in Lord Krishna's honour. Banyan trees dot the courtyard of the spectacular Krishna temple that is built in sandstone. Inside the shrine is an unusual idol of Shri Krishna in a semi-reclining position. The temple also contains a beautiful tribhangi idol of Lord Krishna playing his flute.</p>
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">Brief History</h5>
    <p>The temple commemorates the episode when a poacher, Jara, mistakenly hit the Lord with his arrow, thinking it's a deer. The Lord left for his heavenly abode after this episode, but not before walking 4km from here to Shri Goloknathdham Tirth. In the 9th century AD Shri Vallabhacharya gave discourses on Shrimad Bhagavat Gita here for 9 full days.</p>
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">Best Time to Visit</h5>
    <p>The best time to visit is between November to February, and during Janmashtami. </p>
    <img src="../../assets/Bhalka-Tirth--image.jpg" class="my-5" alt="Bhalka Tirth Image" style="width: 100%;">
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container get-there">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">How to Get There?</h4>
    <br><br>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-road.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Road</h6>
            <p class="text-muted">The temple city lies 80 km from Junagadh, 220 km from Bhavnagar and 168 km from Porbandar. The capital city of Gujarat, Gandhinagar is just 400 km away from Somnath.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-train.png" alt="" class="direction-imgs">
        <span class="transport-train">
            <h6>By Train</h6>
            <p class="text-muted">Somnath is the nearest railway station, is well connected to other major towns in Gujarat and India.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 5%;">
        <img src="../../assets/by-air.png" alt="" style="height: 100px; width: 250px;">
        <span class="transport-flight">
            <h6>By Air</h6>
            <p class="text-muted">Porbandar Airport is 120 km and Rajkot airport is 200 km away.</p>
        </span>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container bhalka-content-lower">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">Nearby Attractions</h4>
    <div class="row">
        <div class="col-4 destination-container-image">
            <a routerLink="/somnathTemple" class="darken">
                <img src="../../assets/somnath.jpg" alt="Shree Somnath Jyotirlinga Temple" style="height: 300px; width: 300px;">
                <h5>Shree Somnath Jyotirlinga Temple</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/gir" class="darken">
                <img src="../../assets/gir-park.jpg" alt="Gir" style="height: 300px; width: 300px;">
                <h5>Gir National Park</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/ahmedpur-mandvi" class="darken">
                <img src="../../assets/ahmedpur-mandvi-thumbnail.jpg" alt="Ahmedpur Mandvi" style="height: 300px; width: 300px;">
                <h5>Ahmedpur Mandvi</h5>
            </a>
        </div>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>