<img src="../../assets/Taranga-caves-Banner.jpg" alt="Taranga Caves Banner" style="width: 100%; height: 700px; margin-bottom: 3%;">
<div class="container caves-content">
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">About The Location</h5>
    <p>Northeast of the main gate of the fort is a cave where the air is extraordinarily cool. The cave, locally known as Jogida ni Gufa, was found and used by Buddhist monks thousands of years ago. It has Buddhist sculptures carved in stone that resemble the Bodhi Vriksha or Kalpavruksha and other Buddhist motifs. You also come across some beautiful Buddhist sculptures on the mountain on the way to the cave. Taranga Hills, 20 km from Vadnagar, on the Aravali range, harbours profound connections with Buddhism. The main idols enshrined in the Taranmata and Dharanmata temples are of Buddhist goddess Tara. Broken terracotta images of Buddha, four carved images of Dhyani Buddha on a stone plate, stone and brick walls inside rock shelters, etc. have been discovered from here.</p>
    <img src="../../assets/Taranga caves-image.jpg" class="my-5" alt="Taranga Caves Image" style="width: 100%;">
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container get-there">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">How to Get There?</h4>
    <br><br>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-road.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Road</h6>
            <p class="text-muted">Distance from Ahmedabad to Modhera is 101 km and it takes around 1.45 hours. From Mehsana it is 26 km.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-train.png" alt="" class="direction-imgs">
        <span class="transport-train">
            <h6>By Train</h6>
            <p class="text-muted">The train can take you as far as Mehsana (30 Minutes from Mehsana).</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 5%;">
        <img src="../../assets/by-air.png" alt="" style="height: 100px; width: 250px;">
        <span class="transport-flight">
            <h6>By Air</h6>
            <p class="text-muted">Nearest airport is Ahmedabad.</p>
        </span>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container caves-content-lower">
    <h3 style="font-family: 'Roboto Slab', serif; margin-top: 3%; margin-bottom: 5%;">Nearby Attractions</h3>
    <div class="row">
        <div class="col-4 destination-container-image">
            <a routerLink="/bachuchara-mata-temple" class="darken">
                <img src="../../assets/Bachuchara-mata-temple.jpg" alt="Bachuchara Mata Temple" style="height: 300px; width: 300px;">
                <h5>Bachuchara Mata Temple</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/rani-ki-vav" class="darken">
                <img src="../../assets/rani-ki-vav.jpg" alt="Rani Ki Vav" style="height: 300px; width: 300px;">
                <h5>Rani Ki Vav</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/panchasara-parshwanath-jain-derasar" class="darken">
                <img src="../../assets/jain-derasar.jpg" alt="Panchasara Parshwanath Jain Derasar" style="height: 300px; width: 300px;">
                <h5>Panchasara Parshwanath Jain Derasar</h5>
            </a>
        </div>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>