<img src="../../assets/maqbara-banner.jpg" alt="Maqbara Banner" style="width: 100%; height: 700px; margin-bottom: 3%;">
<div class="container maqbara-content">
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">About The Location</h5>
    <p>This stunning mausoleum of Nawab Mahabat Khan II of Junagadh (1851-82) seems to bubble up into the sky in the old city.  One of Gujarat's most glorious examples of Euro-Indo-Islamic architecture, with French windows and Gothic columns, its lavish appeal is topped off by its silver inner doors. The minarets on the sides have spiral steps going up to the top of the tower.</p>
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">Brief History</h5>
    <p>The construction on the yellow-walled complex started in 1878 by Mahabat Khanji and was completed in 1892 by his successor, Bahadur Khanji.</p>
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">Best time to visit</h5>
    <p>The best time to visit is between November and February.</p>
    <img src="../../assets/maqbara.jpg" class="my-5" alt="Mahabar Maqbara" style="width: 100%;">
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container get-there">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">How to Get There?</h4>
    <br><br>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-road.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Road</h6>
            <p class="text-muted">Private and state bus services are available from different junctions in the state.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-train.png" alt="" class="direction-imgs">
        <span class="transport-train">
            <h6>By Train</h6>
            <p class="text-muted">The town has a railway station that is connected to major cities in Gujarat.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 5%;">
        <img src="../../assets/by-air.png" alt="" style="height: 100px; width: 250px;">
        <span class="transport-flight">
            <h6>By Air</h6>
            <p class="text-muted">The closest airports to Junagadh are Keshod (40 km) Porbandar (105 km) and Rajkot (103 km).</p>
        </span>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container maqbara-content-lower">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">Nearby Attractions</h4>
    <div class="row">
        <div class="col-4 destination-container-image">
            <a routerLink="/mitiyala-wildlife-sanctuary" class="darken">
                <img src="../../assets/mitiyala.jpg" alt="Mitiyala Wildlife Sanctuary" style="height: 300px; width: 300px;">
                <h5>Mitiyala Wildlife Sanctuary</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/khapra-kodiya" class="darken">
                <img src="../../assets/khapra-kodiya.jpg" alt="Buddhist Caves of Khapra Kodiya" style="height: 300px; width: 300px;">
                <h5>Buddhist Caves of Khapra Kodiya</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/uparkotFort" class="darken">
                <img src="../../assets/uparkot.jpg" alt="Uparkot Fort" style="height: 300px; width: 300px;">
                <h5>Uparkot Fort</h5>
            </a>
        </div>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>