<img src="../../assets/Kalo-Dungar-Banner.jpg" alt="Kalo Dungar Banner" style="width: 100%; height: 700px; margin-bottom: 3%;">
<div class="container kalo-content">
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">About The Location</h5>
    <p>North of the village of Khavda, Kalo Dungar (Black Hill) marks Kutch's highest point (462 m), with remarkable views of the Great Rann salt flat (or inland sea if you’re visiting during the monsoon). You’ll need your own transport to visit. The hill is also famous for a 400-year old temple dedicated to Lord Dattatreya. You walk to the edge of the hill and look over at the sprawling blanched landscape that changes hues as the day progresses and the sun sinks behind the mountains. A 15-min drive from the base of the hill lands you on the India bridge that connects the far north of Kutch to the mainland. The area comes under the jurisdiction of the army and photography is not allowed. The Indo-Pak border lies about 40 km north from here.</p>
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">Brief History</h5>
    <p>Legends say that Lord Dattatreya stopped to rest here and found a group of starving jackals. He offered them his body to eat and as they ate, his body continually regenerated itself. For the last four centuries, the priests at the temple prepare cooked rice for jackals who come in the late evenings for a meal.</p>
    <img src="../../assets/Kalo-Dungar-image.jpg" class="my-5" alt="Kalo Dungar" style="width: 100%;">
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container get-there">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">How to Get There?</h4>
    <br><br>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-road.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Road</h6>
            <p class="text-muted">State and private buses service the city from all major parts of Gujarat.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-train.png" alt="" class="direction-imgs">
        <span class="transport-train">
            <h6>By Train</h6>
            <p class="text-muted">The railway station lies on the western railways network.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 5%;">
        <img src="../../assets/by-air.png" alt="" style="height: 100px; width: 250px;">
        <span class="transport-flight">
            <h6>By Air</h6>
            <p class="text-muted">Kalo Dungar lies 90 km north of Bhuj. Bhuj is well connected by air, rail and road. The Bhuj airport lies 4 km from the city and has ample domestic flights from major destinations in India.</p>
        </span>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container kalo-content-lower">
    <h3 style="font-family: 'Roboto Slab', serif; margin-top: 3%; margin-bottom: 5%;">Nearby Attractions</h3>
    <div class="row">
        <div class="col-4 destination-container-image">
            <a routerLink="/great-rann-of-kutch" class="darken">
                <img src="../../assets/great-rann-of-kutch.jpg" alt="Great Rann Of Kutch" style="height: 300px; width: 300px;">
                <h5>Great Rann Of Kutch</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/nirona" class="darken">
                <img src="../../assets/Nirona-thumbnail.jpg" alt="Nirona" style="height: 300px; width: 300px;">
                <h5>Nirona (Rogan Painting)</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/smritivan" class="darken">
                <img src="../../assets/smritivan.jpeg" style="height: 300px; width: 300px;">
                <h5>Smritivan</h5>
            </a>
        </div>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>