<img src="../../assets/Kirti-Mandir-Banner.jpg" alt="Kirti Mandir Banner" style="width: 100%; height: 700px; margin-bottom: 3%;">
<div class="container kirti-content">
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">About The Location</h5>
    <p>The royal mausoleum of the Gaekwad dynasty, Kirti Mandir, is one of the most stunning but understated buildings in Baroda. Situated in the heart of the city, it was built in honour of Maharaja Sayajirao Gaekwad III's silver jubilee celebration in 1936. The building is E-shaped and features beautiful architectural features like balconies, terraces, tombs, domes and a brilliantly carved 35 metres high central shikhara. The interiors have murals by Nandalal Bose, based on themes like Gangavataran, Life of Meera, the battle of Mahabharat and Natir Poojan and some rare paintings from the famous artist Raja Ravi Varma.</p>
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">Brief History</h5>
    <p> It is said that Sayajirao Maharaja built Kirti Mandir in the memory of deceased members of the royal Gaekwad family, leaving the edifice to be dedicated to Lord Mahadev. It was part of the many structures that the Maharaja commissioned. The golden era in the Maratha rule of Baroda started when Sayajirao Maharaja came into power in 1875 and brought a number of changes to the city.</p>
    <img src="../../assets/Kirti-Mandir-image.jpg" class="my-5" alt="Kirti Mandir Image" style="width: 100%;">
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container get-there">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">How to Get There?</h4>
    <br><br>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-road.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Road</h6>
            <p class="text-muted">NH8 passes through Baroda, making it well connected by road as well.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-train.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Train</h6>
            <p class="text-muted">The city lies on the busy Mumbai-Delhi Western Railway Mainline and is well connected by premium trains like Shatabdi and Rajdhani.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 5%;">
        <img src="../../assets/by-air.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Air</h6>
            <p class="text-muted">Domestic flights connect Vadodara (BDQ) to major cities in India.</p>
        </span>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container kirti-content-lower">
    <h3 style="font-family: 'Roboto Slab', serif; margin-top: 3%; margin-bottom: 5%;">Nearby Attractions</h3>
    <div class="row">
        <div class="col-4 destination-container-image">
            <a routerLink="/jambughoda-wildlife-sanctuary" class="darken">
                <img src="../../assets/jambughoda-wildlife-sanc.jpg" alt="Jambughoda Wildlife Sanctuary" style="height: 300px; width: 300px;">
                <h5>Jambughoda Wildlife Sanctuary</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/sayaji-baug" class="darken">
                <img src="../../assets/sayaji-baug-thumbnail.jpg" alt="Sayaji Baug" style="height: 300px; width: 300px;">
                <h5>Sayaji Baug</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/laxmi-vilas-palace" class="darken">
                <img src="../../assets/Laxmi-Vilas-Palace-Thumbnail.jpg" alt="Laxmi Vilas Palace" style="height: 300px; width: 300px;">
                <h5>Laxmi Vilas Palace</h5>
            </a>
        </div>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>