<img src="../../assets/Prabhas-Patan-Museum-Banner.jpg" alt="Prabhas Patan Museum Banner" style="width: 100%; height: 700px; margin-bottom: 3%;">
<div class="container patan-content">
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">About The Location</h5>
    <p>This museum, 300m north of the Somnath temple along the market street, has intricately carved stone fragments from previous temples exposed to the elements in the courtyard. The highlight for many is the reconstructed 12th-century shrine from the main temple, complete with delicately carved ceilings and it also showcases spiritual paintings.</p>
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">Brief History</h5>
    <p>It is said that the ancient shrine was refurbished by the Chalukyan Maharaja Shri Mularaja Deva Solanki of Anhilvada Patan.</p>
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">Best Time to Visit</h5>
    <p>The best time to visit is between the cooler months of November to February.</p>
    <img src="../../assets/Prabhas-Patan-Museum-image.jpg" class="my-5" alt="Prabhas Patan Museum Image" style="width: 100%;">
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container get-there">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">How to Get There?</h4>
    <br><br>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-road.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Road</h6>
            <p class="text-muted">The temple city lies 80 km from Junagadh, 220 km from Bhavnagar and 168 km from Porbandar. The capital city of Gujarat, Gandhinagar is just 400 km away from Somnath.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-train.png" alt="" class="direction-imgs">
        <span class="transport-train">
            <h6>By Train</h6>
            <p class="text-muted">Somnath is the nearest railway station, is well connected to other major towns in Gujarat and India.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 5%;">
        <img src="../../assets/by-air.png" alt="" style="height: 100px; width: 250px;">
        <span class="transport-flight">
            <h6>By Air</h6>
            <p class="text-muted">Porbandar Airport is 120 km and Rajkot airport is 200 km away.</p>
        </span>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container patan-content-lower">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">Nearby Attractions</h4>
    <div class="row">
        <div class="col-4 destination-container-image">
            <a routerLink="/somnathTemple" class="darken">
                <img src="../../assets/somnath.jpg" alt="Shree Somnath Jyotirlinga Temple" style="height: 300px; width: 300px;">
                <h5>Shree Somnath Jyotirlinga Temple</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/bhalka-tirth" class="darken">
                <img src="../../assets/Bhalka-Tirth--thumbnail.jpg" alt="Bhalka Tirth" style="height: 300px; width: 300px;">
                <h5>Bhalka Tirth</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/triveni-sangam" class="darken">
                <img src="../../assets/Triveni-Sangam-Thumbnail.jpg" alt="Triveni Sangam" style="height: 300px; width: 300px;">
                <h5>Triveni Sangam</h5>
            </a>
        </div>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>