<div class="about-container">
    <div class="jumbotron">
        <h1 class="display-4">About Explore Gujarat</h1>
        <p class="lead">A comprehensive webapp to help you in discovering the beauty of Gujarat!</p>
        <hr class="my-4">
        <p>Come together to discover the sprawling flora and fauna of Gujarat. Rediscover Gujarat from the memories of the father of nation, Mahatma Gandhi to the dense forests of Gir!</p>
        <a class="btn btn-outline-light btn-lg" routerLink="/" role="button">Explore Gujarat Now!</a>
      </div>
</div>