<img src="../../assets/Shoolpaneshwar-Wildlife-Sanctuary-Banner.jpg" alt="Shoolpaneshwar Wildlife Sanctuary Banner" style="width: 100%; height: 700px; margin-bottom: 3%;">
<div class="container shool-content">
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">About The Location</h5>
    <p>Head northeast from Surat's city to the border of Gujarat and Madhya Pradesh, where the Shoolpaneshwar Wildlife Sanctuary spreads over 608sq km. Established in 1982, the sanctuary is made up of a mixed forest of teak, riverine forest and deciduous dry jungles that are inhabited by leopards, sloth bears, pangolins, barking deer and a number of birds and reptiles. It was originally established for the protection of sloth bears. The Zarwani waterfall inside the jungle drops from a craggy rock face into a deep gorge.</p>
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">Brief History</h5>
    <p>The sanctuary was first declared a protected area in 1982. An area of 150.87 sq. km was called the 'Dumkhal Sanctuary', specifically created for the protection of sloth bears. In the years 1987 and 1989, more land was attributed to conservation and the area of the sanctuary enlarged to 607.70 sq km. It was then renamed 'Shoolpaneshwar Sanctuary'.</p>
    <img src="../../assets/shoopneshwar-image.jpg" class="my-5" alt="Shoolpaneshwar Wildlife Sanctuary Image" style="width: 100%;">
    <br><br>
    <button class="btn btn-outline-dark" onclick= "window.open('https://forests.gujarat.gov.in/wildlife-sanctuaries.htm','_blank')">Book Tickets Here</button>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container get-there">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">How to Get There?</h4>
    <br><br>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-road.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Road</h6>
            <p class="text-muted">NH8 passes through Vadodara, making it well connected by road as well. The statue lies about 90km from the city off a small town called Kevadia (3.5 km from the actual site).</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-train.png" alt="" class="direction-imgs">
        <span class="transport-train">
            <h6>By Train</h6>
            <p class="text-muted">Vadodara lies on the busy Mumbai-Delhi Western Railway Mainline and is well connected by premium trains like Shatabdi and Rajdhani.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 5%;">
        <img src="../../assets/by-air.png" alt="" style="height: 100px; width: 250px;">
        <span class="transport-flight">
            <h6>By Air</h6>
            <p class="text-muted">Vadodara airport is nearest(90KMs) airport which is well connected.</p>
        </span>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container shool-content-lower">
    <h3 style="font-family: 'Roboto Slab', serif; margin-top: 3%; margin-bottom: 5%;">Nearby Attractions</h3>
    <div class="row">
        <div class="col-4 destination-container-image">
            <a routerLink="/statue-of-unity" class="darken">
                <img src="../../assets/vallabbhai.jpg" style="height: 300px; width: 300px;">
                <h5>Statue of Unity</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/ratanmahal-sloth-bear-sanctuary" class="darken">
                <img src="../../assets/ratanmahal-sloth-bear.jpg" alt="Ratanmahal Sloth Bear Sanctuary" style="height: 300px; width: 300px;">
                <h5>Ratanmahal Sloth Bear Sanctuary</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/dumas-beach" class="darken">
                <img src="../../assets/dumas-beach-thumbnail.jpg" alt="Dumas Beach" style="height: 300px; width: 300px;">
                <h5>Dumas Beach</h5>
            </a>
        </div>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>