<img src="../../assets/Koteshwar-Mahadev-Temple-Banner.jpg" alt="Koteshwar Mahadev Temple Banner" style="width: 100%; height: 700px; margin-bottom: 3%;">
<div class="container temple-content" id="aboutLocation">
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">About The Location</h5>
    <p>After traveling over the expanse of desert in western Kutch, you find the Koteshwar Temple, at a place where the immensity of dry land meets the incomprehensible vastness of the sea. After so much arid ground, the sight of the ocean will awaken your spirits; though the sea is even less hospitable to humans, a sobering thought. The only point that breaks the skyline from the flat brown horizon to the east and the wide blue horizon to the west is the point of the Koteshwar Temple, the last outpost of human construction at the westernmost limit of India. Not overrun by tourists like the temple at Dwarka, Koteshwar is conducive to contemplating emptiness, pondering the place of humanity on earth (and ultimately, isn’t that what spiritual traditions are about?).</p>
    <p>The story of Koteshwar begins with Ravana, who won a boon from Lord Shiva for an outstanding display of piety. This boon was the gift of a Shiva linga of great spiritual power, but which Ravana, in his arrogant haste, accidentally dropped and it fell to earth at Koteshwar. To punish Ravana for his carelessness, the linga turned into a thousand identical copies (some versions of the story say ten thousand, some a million; suffice to say it was quite a lot.) Unable to distinguish the original, Ravana grabbed one and departed, leaving the original one here, around which Koteshwar Temple was built.</p>
    <p>Visitors can see the temple, walk along the beach and on a clear night, even see the glow of light from Karachi, Pakistan, on the northwestern horizon.</p>
    <img src="../../assets/Koteshwar-Mahadev-Temple-image.jpg" class="my-5" alt="Koteshwar Mahadev Temple Image" style="width: 100%;">
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container get-there" id="getThere">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">How to Get There?</h4>
    <br><br>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-road.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Road</h6>
            <p class="text-muted">From Bhuj, 154 kms away, buses go to Narayan Sarovar twice a day (morning and evening). However, that is the only public transportation available. Koteshwar Temple is a mere 2 km from Narayan Sarovar, on the coast, but visitors to Lakhpat (28 km further) or Narayan Sarovar Wildlife Sanctuary (15 km) will need a private vehicle; this can only be hired in Bhuj.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-train.png" alt="" class="direction-imgs">
        <span class="transport-train">
            <h6>By Train</h6>
            <p class="text-muted">Two daily express trains, the Bhuj Express and the Kutch Express, go from Bhuj to Ahmedabad (8hrs) and on to Mumbai (16hrs.) However, both trains pass through Ahmedabad in the middle of the night, as the schedules are designed to depart and arrive and reasonable hours from Bhuj and Mumbai, not Ahmedabad.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 5%;">
        <img src="../../assets/by-air.png" alt="" style="height: 100px; width: 250px;">
        <span class="transport-flight">
            <h6>By Air</h6>
            <p class="text-muted">The Bhuj airport lies 4km from the city and has ample domestic flights from major destinations in India.</p>
        </span>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container temple-content-lower" id="nearbyDestinations">
    <h3 style="font-family: 'Roboto Slab', serif; margin-top: 3%; margin-bottom: 5%;">Nearby Attractions</h3>
    <div class="row">
        <div class="col-4 destination-container-image">
            <a routerLink="/great-rann-of-kutch" class="darken">
                <img src="../../assets/great-rann-of-kutch.jpg" alt="Great Rann of Kutch" style="height: 300px; width: 300px;">
                <h5>Great Rann of Kutch</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/lakhpat-fort" class="darken">
                <img src="../../assets/Lakhpat-Fort-thumbnail.jpg" alt="Lakhpat Fort" style="height: 300px; width: 300px;">
                <h5>Lakhpat Fort</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/vadnagar" class="darken">
                <img src="../../assets/vadnagar-gujarat.jpg" alt="Vadnagar" style="height: 300px; width: 300px;">
                <h5>Vadnagar</h5>
            </a>
        </div>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<ul class="navigation cf">
    <li (click)="toAbout()" class="my-2 icon"><svg xmlns="http://www.w3.org/2000/svg" height="1.4em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg></li>
    <li (click)="toGetThere()" class="my-2 icon"><svg xmlns="http://www.w3.org/2000/svg" height="1.4em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm306.7 69.1L162.4 380.6c-19.4 7.5-38.5-11.6-31-31l55.5-144.3c3.3-8.5 9.9-15.1 18.4-18.4l144.3-55.5c19.4-7.5 38.5 11.6 31 31L325.1 306.7c-3.2 8.5-9.9 15.1-18.4 18.4zM288 256a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg></li>
    <li (click)="toNearby()" class="my-2 icon"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M560 160A80 80 0 1 0 560 0a80 80 0 1 0 0 160zM55.9 512H381.1h75H578.9c33.8 0 61.1-27.4 61.1-61.1c0-11.2-3.1-22.2-8.9-31.8l-132-216.3C495 196.1 487.8 192 480 192s-15 4.1-19.1 10.7l-48.2 79L286.8 81c-6.6-10.6-18.3-17-30.8-17s-24.1 6.4-30.8 17L8.6 426.4C3 435.3 0 445.6 0 456.1C0 487 25 512 55.9 512z"/></svg></li>
</ul>