<div class="container-fluid navbar-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">
      <img src="../../assets/logo-gujarat.png" width="70" height="70" alt="">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact Us</a>
        </li>
      </ul>
      <div>
        <button class="btn btn-outline-success mx-3" type="submit" routerLink="/adminlogin">
          Admin Login
        </button>
        <button class="btn btn-outline-success" type="submit" routerLink="/userlogin">
          User Login
        </button>
      </div>
    </div>
  </nav>
</div>