<img src="../../assets/uperkot-banner.jpg" alt="Uparkot Fort Banner" style="width: 100%; height: 700px; margin-bottom: 3%;">
<div class="container uparkot-content">
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">About The Location</h5>
    <p>This ancient fort is believed to have been built in 319 BC by the Mauryan emperor Chandragupta, though it has been extended many times. In places, the ramparts reach 20m high. It’s been besieged 16 times, and legend has it that the fort once withstood a 12-year siege. The views over the city and east to Girnar Hill are superb, and within its walls, there is a magnificent former mosque, a set of millennia-old Buddhist caves and two fine step-wells. The fort has two fine step-wells both cut from solid rock. The circular, 41m-deep Adi Kadi Vav was cut in the 15th century and named after two slave girls who used to fetch water from it. Navghan Kuvo, 52m deep and designed to help withstand sieges, is almost 1000 years old and its magnificent staircase spirals around the well shaft. Look for the centuries-old dovecotes.</p>
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">Brief History</h5>
    <p>Said to have been built in 319 BC, the fort was the architectural work of Chandragupta. But the fort changed many hands. Remnants of different rulers can be seen in some parts of the structure. For example, on the rampart above the gate is an inscription of Mandalika III, dated 1450. Another emblem is in the form of a 10 inch bore cannon of bell-metal - 17 feet long and 4 feet 8-inch round at the mouth. This gun was brought from Diu, where it was left by the Ottoman Turks when they were defeated in the Siege of Diu in the mid-16th century.</p>
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">Best Time to Visit</h5>
    <p>The best time to visit is between November and February.</p>
    <img src="../../assets/Uparkot-Fort-image.jpg" class="my-5" alt="Uparkot Fort Image" style="width: 100%;">
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container get-there">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">How to Get There?</h4>
    <br><br>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-road.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Road</h6>
            <p class="text-muted">Junagadh is accessible by ST and Private buses from other cities of Gujarat.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-train.png" alt="" class="direction-imgs">
        <span class="transport-train">
            <h6>By Train</h6>
            <p class="text-muted">Two express trains run on the Ahmedabad-Veraval line.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 5%;">
        <img src="../../assets/by-air.png" alt="" style="height: 100px; width: 250px;">
        <span class="transport-flight">
            <h6>By Air</h6>
            <p class="text-muted">The closest airport to Junagadh is Rajkot (103 km).</p>
        </span>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container uparkot-content-lower">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">Nearby Attractions</h4>
    <div class="row">
        <div class="col-4 destination-container-image">
            <a routerLink="/girnar-hills" class="darken">
                <img src="../../assets/girnar-hills.jpg" alt="Girnar Hills" style="height: 300px; width: 300px;">
                <h5>Girnar Hills, Pilgrimage Centre</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/mahabat-maqbara" class="darken">
                <img src="../../assets/mahabatMaqbara.jpg" alt="Mahabat Khan Maqbara" style="height: 300px; width: 300px;">
                <h5>Mahabat Khan Maqbara</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/damodar-kund" class="darken">
                <img src="../../assets/Damodar_Kund.jpg" alt="Damodar Kund" style="height: 300px; width: 300px;">
                <h5>Damodar Kund</h5>
            </a>
        </div>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>