<img src="../../assets/Triveni-Sangam-Banner.jpg" alt="Triveni Sangam Banner" style="width: 100%; height: 700px; margin-bottom: 3%;">
<div class="container triveni-content">
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">About The Location</h5>
    <p>Refurbished into a corniche-style area for visitors, the Triveni Sangam marks the confluence of rivers Hiran, Kapila and the Saraswati, where they meet the Arabian Sea on the west coast. Triveni Sangam is said to be a place where Hindus can attain moksha or release from the cycle of life and death. One can see a number of people praying or just experiencing the spiritual atmosphere sitting by the stairs. The fervour is often upstaged by hundreds of gulls that flock at the stepped ghats.</p>
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">Brief History</h5>
    <p>The significance of the Triveni Sangam dates back to thousands of years ago when the rivers Hiran, Kapila and the Saraswati met here.</p>
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">Best Time to Visit</h5>
    <p>The best time to visit is between the cooler months of November to February; festive occasions like the Kumbh Mela that is hosted once in twelve years or the Magh Mela in January.</p>
    <img src="../../assets/triveni-sangam-image.jpg" class="my-5" alt="Triveni Sangam Image" style="width: 100%;">
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container get-there">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">How to Get There?</h4>
    <br><br>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-road.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Road</h6>
            <p class="text-muted">The temple city lies 80 km from Junagadh, 220 km from Bhavnagar and 168 km from Porbandar. The capital city of Gujarat, Gandhinagar is just 400 km away from Somnath.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-train.png" alt="" class="direction-imgs">
        <span class="transport-train">
            <h6>By Train</h6>
            <p class="text-muted">Somnath is the nearest railway station, is well connected to other major towns in Gujarat and India.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 5%;">
        <img src="../../assets/by-air.png" alt="" style="height: 100px; width: 250px;">
        <span class="transport-flight">
            <h6>By Air</h6>
            <p class="text-muted">Porbandar Airport is 174 km and Rajkot airport is 200 km away.</p>
        </span>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container triveni-content-lower">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">Nearby Attractions</h4>
    <div class="row">
        <div class="col-4 destination-container-image">
            <a routerLink="/somnathTemple" class="darken">
                <img src="../../assets/somnath.jpg" alt="Shree Somnath Jyotirlinga Temple" style="height: 300px; width: 300px;">
                <h5>Shree Somnath Jyotirlinga Temple</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/gir" class="darken">
                <img src="../../assets/gir-park.jpg" alt="Gir" style="height: 300px; width: 300px;">
                <h5>Gir National Park</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/prabhas-patan-museum" class="darken">
                <img src="../../assets/Prabhas-Patan-Museum-Thumbnail.jpg" alt="Prabhas Patan Museum" style="height: 300px; width: 300px;">
                <h5>Prabhas Patan Museum</h5>
            </a>
        </div>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>