<img src="../../assets/dholavira-banner.png" alt="Dholavira Banner" style="width: 100%; height: 700px; margin-bottom: 3%;">
<div class="container dholavira-content" id="aboutLocation">
    <p>UNESCO has included Dholavira of Kutch in the list of World Heritage Sites in 2021, giving Gujarat the opportunity to shine once again on the World Heritage Map. With the inclusion of Dholavira in the World Heritage Site, Gujarat has also got the pride of being a state with four World Heritage Sites.</p>
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">About The Location</h5>
    <p>At the height of our civilization, our technological development, our social and material complexity, all signs point to progress, we often think. And yet, all is not as it seems and once in a while it occurs to us to look into the past to discover our future.</p>
    <p><strong>Dholavira is the larger of the two most remarkable excavations of the Indus Valley Civilization or Harappan culture, dating back to 4500 years ago.</strong> While the other site, Lothal, is more exhaustively educated and easier to reach, a visit to Lothal only complements, rather than replaces, a visit to Dholavira. What this site offers you, in the intense environment that comes with being surrounded by the Great Rann of Kutch, is a unique insight into the pioneering Harappan mind, with one of the world’s earliest and best planned water conservation systems and what might be the world's first signboards, written in ancient Indus script.</p>
    <p>The excavation also tells the story of the 7 stages of the civilization, from development to maturity to decay, the last of which hints at a strange piece of history, with more questions than answers. After the peak of the civilization Dholavira was temporarily abandoned, after which it seems that the settlers returned with a markedly de-urbanized culture. There are hints that they willingly chose to simplify their lives, rather than try to ride the collapse of their once glorified civilization. Here, on the ruins, you will have a chance to contemplate what progress and civilization mean and what, if anything, is truly permanent.</p>
    <button class="btn btn-outline-dark" onclick= "window.open('https://asi.payumoney.com/','_blank')">Book Tickets For Dholavira Here</button>
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">Background</h5>
    <p>Dholavira, known locally as Kotada (which means large fort), sprawls over 100 hectares of semi-arid land at the north-west corner of the island of Khadir, one of the islands in the Great Rann of Kutch that remain above the flood-plains in months when the rest of the desert is submerged by the monsoon. Dholavira has two seasonal nallahs, or streams: Mansar in the north, and Manhar in the south. The journey to Dholavira itself is beautiful, taking you through the saline desert plains of the Great Rann, where you can spot wildlife such as chinkara gazelle, nilgai (blue bull, the largest antelope in Asia), flamingos and other bird life.</p>
    <p>The site was unearthed by the Archeological Survey of India (ASI) in 1967, but has been systematically excavated only since 1990. Artifacts include terracotta pottery, beads, gold and copper ornaments, seals, fish hooks, animal figurines, tools, urns, and some imported vessels that indicate trade links with lands as far away as Mesopotamia. Also found were 10 large stone inscriptions, carved in Indus Valley script, perhaps the world's earliest signboard. These are among the most important discoveries about the Indus Valley Civilization, but remain tantalizingly undeciphered.</p>
    <p>The remains show an imposing citadel in the center, with a middle and lower town, each fortified separately, built with pleasingly smoothed structures of sun-dried brick and stone masonry, and with remarkable town planning. Well laid out lanes lead outward systematically from the citadel, with a well-constructed underground drainage system for sanitation. There is a large stadium with a complex structure and seating arrangement.</p>
    <p>Finally, Dholavira has one of the world's earliest water conservation systems ever excavated. Satellite pictures show a reservoir underground, an expertly constructed rainwater harvesting system extending from the walls of the city, without which the settlement would not have thrived in the sparse rainfall of the desert.</p>
    <p><strong>Dholavira is one of the two largest Harappan sites in India, and 5th largest in the subcontinent.</strong> Like Lothal, it passed through all the stages of the Harappan culture from circa 2900 BC to 1500 BC, while most others saw only the early or late stages.</p>
    <p>The excavation found a decline of the civilization in the 5th of 7th stages, after which were signs of a temporary desertion of the site. Settlers returned later in the late Harappan stage, with a change in their pottery, influenced by cultures found at sites in Sindh, South Rajasthan and other parts of Gujurat, but they did not bring the return of the civilization. Their houses, for example, were built in an entirely new form that was circular (bhungas), and the material signs were strikingly deurbanized and simplified. Perhaps the last stage of the powerful civilization had become aware of its future, and was preparing itself for a gradual end.</p>
    <img src="../../assets/dholavira-animated.jpg" class="my-5" alt="Dholavira Animated" style="width: 100%;">
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container get-there" id="getThere">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">How to Get There?</h4>
    <br><br>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-road.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Road</h6>
            <p class="text-muted">Ahmedabad is 335 ilometers from bhuj approx. driving time is 7 hours . Dholavira is 250 km from Bhuj and is reached via Bhachau and Rapar. A bus leaves from Bhuj at 14:00 and arrives at Dholavira at 20:30. It leaves at 05:00 the next morning and returns to Bhuj by 11:30. It is also possible to rent a vehicle.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-train.png" alt="" class="direction-imgs">
        <span class="transport-train">
            <h6>By Train</h6>
            <p class="text-muted">The closest railway station to Dholavira is Samakhiali, just 137 kms away. Major railway stations nearby are Bhachau, Gandhidham and Anjar, which are 152, 187 and 191 Kms away respectively.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 5%;">
        <img src="../../assets/by-air.png" alt="" style="height: 100px; width: 250px;">
        <span class="transport-flight">
            <h6>By Air</h6>
            <p class="text-muted">Major airports nearby are Kandla and Bhuj. Kandla airport stands at a distance of 191Kms, whereas Bhuj is around 215 kms away.</p>
        </span>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container dholavira-content-lower" id="nearbyDestinations">
    <h3 style="font-family: 'Roboto Slab', serif; margin-top: 3%; margin-bottom: 5%;">Nearby Attractions</h3>
    <div class="row">
        <div class="col-4 destination-container-image">
            <a routerLink="/great-rann-of-kutch" class="darken">
                <img src="../../assets/great-rann-of-kutch.jpg" alt="Great Rann Of Kutch" style="height: 300px; width: 300px;">
                <h5>Great Rann Of Kutch</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/narayan-sarovar" class="darken">
                <img src="../../assets/narayan-sarovar.jpg" alt="Narayan Sarovar" style="height: 300px; width: 300px;">
                <h5>Narayan Sarovar</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/great-indian-bustard-sanctuary" class="darken">
                <img src="../../assets/great-indian-bustard-sanctuary.jpg" alt="The Great Indian Bustard Sanctuary" style="height: 300px; width: 300px;">
                <h5>The Great Indian Bustard Sanctuary</h5>
            </a>
        </div>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<ul class="navigation cf">
    <li (click)="toAbout()" class="my-2 icon"><svg xmlns="http://www.w3.org/2000/svg" height="1.4em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg></li>
    <li (click)="toGetThere()" class="my-2 icon"><svg xmlns="http://www.w3.org/2000/svg" height="1.4em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm306.7 69.1L162.4 380.6c-19.4 7.5-38.5-11.6-31-31l55.5-144.3c3.3-8.5 9.9-15.1 18.4-18.4l144.3-55.5c19.4-7.5 38.5 11.6 31 31L325.1 306.7c-3.2 8.5-9.9 15.1-18.4 18.4zM288 256a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg></li>
    <li (click)="toNearby()" class="my-2 icon"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M560 160A80 80 0 1 0 560 0a80 80 0 1 0 0 160zM55.9 512H381.1h75H578.9c33.8 0 61.1-27.4 61.1-61.1c0-11.2-3.1-22.2-8.9-31.8l-132-216.3C495 196.1 487.8 192 480 192s-15 4.1-19.1 10.7l-48.2 79L286.8 81c-6.6-10.6-18.3-17-30.8-17s-24.1 6.4-30.8 17L8.6 426.4C3 435.3 0 445.6 0 456.1C0 487 25 512 55.9 512z"/></svg></li>
</ul>