<img src="../../assets/Damodar-Kund-Banner.jpg" alt="Damodar Kund Banner" style="width: 100%; height: 700px; margin-bottom: 3%;">
<div class="container kund-content">
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">About The Location</h5>
    <p>Damodar Kund is one of the sacred lakes as per Hindu beliefs, which is located at the foothills of Girnar hills, near Junagadh in Gujarat, India. It is considered holy, as per Hindu mythology and many Hindus prefer to bathe and immerse the ashes and the bones left after cremation of dead bodies, here at Damodar Kund due to a belief that the departed souls would get moksha here. It may be mentioned here that other such famous places for immersion of ashes and bones (Hindu rite of asthi-visarjana) are in Ganga at Haridwar and Triveni Sangam at Prayag. The water of the lake has properties of dissolving the bones.The lake is 257 ft long and 50 ft broad and only 5 feet deep. It is surrounded by a well built ghat.The steps for going up the Girnar hills start near Damodar Kund.</p>
    <img src="../../assets/Damodar-Kund.jpg" class="my-5" alt="Damodar Kund Image" style="width: 100%;">
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container get-there">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">How to Get There?</h4>
    <br><br>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-road.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Road</h6>
            <p class="text-muted">Junagadh is linked to the rest of the country through a good road network. There is even a good network of National and State Highways connecting the city. The State Transport Corporation runs buses which link Junagadh to all the major cities and towns of Gujarat and other states of the country.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-train.png" alt="" class="direction-imgs">
        <span class="transport-train">
            <h6>By Train</h6>
            <p class="text-muted">Junagadh lies on the Western Railway network of the Indian railways. The city is well connected with the rest of the country via a number of trains. There are many express and local trains that operate daily and are perfect for traveling from Rajkot to Junagadh.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 5%;">
        <img src="../../assets/by-air.png" alt="" style="height: 100px; width: 250px;">
        <span class="transport-flight">
            <h6>By Air</h6>
            <p class="text-muted">The nearest airport from Junagadh is Rajkot, situated at a distance of 106 km from the city. A number of flights fly to and from here, connecting the city with the various parts of Gujarat as well as the country.</p>
        </span>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container kund-content-lower">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">Nearby Attractions</h4>
    <div class="row">
        <div class="col-4 destination-container-image">
            <a routerLink="/gir" class="darken">
                <img src="../../assets/gir-park.jpg" alt="Gir" style="height: 300px; width: 300px;">
                <h5>Gir National Park</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/mahabat-maqbara" class="darken">
                <img src="../../assets/mahabatMaqbara.jpg" alt="Mahabat Khan Maqbara" style="height: 300px; width: 300px;">
                <h5>Mahabat Khan Maqbara</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/somnathTemple" class="darken">
                <img src="../../assets/somnath.jpg" alt="Shree Somnath Jyotirlinga Temple" style="height: 300px; width: 300px;">
                <h5>Shree Somnath Jyotirlinga Temple</h5>
            </a>
        </div>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>