<img src="../../assets/ahmedpur-mandavi-banner.jpeg" alt="Ahmedpur Mandvi Banner" style="width: 100%; height: 700px; margin-bottom: 3%;">
<div class="container mandvi-content">
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">About The Location</h5>
    <p>The 6-kilometer-long Ahmedpur Mandvi Beach is a spotless stretch of land that the Arabian Sea glistening waters lap. The beach, which boasts of fine white sands and is located at the intersection of Diu and Gujarat, is peppered with windmills .The beach is popular year-round among tourists and is great for swimming, water sports, and watching dolphins.</p>
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">Main attraction</h5>
    <p>Along with a nice sandy beach, Ahmedpur Mandvi Beach offers somebreathtaking views of the Arabian Sea. This beach features a variety of water activities to satisfy your daring soul in addition to the visual beauty. The beach is surrounded by a fishing hamlet and several stunning temples and palaces that are nearby and that you must see, making it lively and cheery.</p>
    <img src="../../assets/Mandvi-beach-image.jpg" class="my-5" alt="Ahmedpur Mandvi Image" style="width: 100%;">
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container get-there">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">How to Get There?</h4>
    <br><br>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-road.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Road</h6>
            <p class="text-muted">Somnath is 96 km from Junagadh and 34 km from Chorwad. State transport buses and private luxury coaches connect various centres of Gujarat to Somnath.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-train.png" alt="" class="direction-imgs">
        <span class="transport-train">
            <h6>By Train</h6>
            <p class="text-muted">Somnath is located 6 km from the nearest railway station at Veraval. and its takes 1 hr 57 min to reach.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 5%;">
        <img src="../../assets/by-air.png" alt="" style="height: 100px; width: 250px;">
        <span class="transport-flight">
            <h6>By Air</h6>
            <p class="text-muted">The nearest Airport is at Diu ,which is well connected to the major cities of the country such as Ahmedabad and Mumbai by regular flights. Diu Airport is located at a distance of approximately (12.9 km) from ahmedpur beach and it takes about 22 Minutes to reach.</p>
        </span>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container mandvi-content-lower">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">Nearby Attractions</h4>
    <div class="row">
        <div class="col-4 destination-container-image">
            <a routerLink="/somnathTemple" class="darken">
                <img src="../../assets/somnath.jpg" alt="Shree Somnath Jyotirlinga Temple" style="height: 300px; width: 300px;">
                <h5>Shree Somnath Jyotirlinga Temple</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/gir" class="darken">
                <img src="../../assets/gir-park.jpg" alt="Gir" style="height: 300px; width: 300px;">
                <h5>Gir National Park</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/bhalka-tirth" class="darken">
                <img src="../../assets/Bhalka-Tirth--thumbnail.jpg" alt="Bhalka Tirth" style="height: 300px; width: 300px;">
                <h5>Bhalka Tirth</h5>
            </a>
        </div>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>