<div class="trails">
    <div class="heading">
        <p>Pick Your Trail - See Gujarat - As Per Your Interest</p>
    </div>
    <div class="carousel-container" >
        <mdb-carousel class="rounded-5 shadow-4-strong" [controls]="true" [animation]="'fade'">
            <mdb-carousel-item>
            <img
            src="../../assets/cuisine-gujarat.jpg"
            class="d-block w-100 carousel-img"
            alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
                <h5>Flavours</h5>
            </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
            <img
            src="../../assets/museum-gujarat.jpg"
            class="d-block w-100 carousel-img"
            alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
                <h5>Museums</h5>
            </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
            <img
            src="../../assets/wildlife-gujarat.jpg"
            class="d-block w-100 carousel-img"
            alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
                <h5>Flora and Fauna</h5>
            </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
            <img
            src="../../assets/temple-gujarat.jpg"
            class="d-block w-100 carousel-img"
            alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
                <h5>Religious Sites</h5>
            </div>
            </mdb-carousel-item>
        </mdb-carousel>
    </div>
</div>