<img src="../../assets/khapra-kodiya.jpg" alt="Buddhist Caves Banner" style="width: 100%; height: 700px; margin-bottom: 3%;">
<div class="container khapra-content">
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">About The Location</h5>
    <p>The so-called “Buddhist Caves” around Uparkot are not actually caves, but three separate sites of rooms carved out of stone to be used as monks' quarters, hence the name. They are all a little over 2000 years old, give or take a couple of centuries.</p>
    <p>The oldest, the Khapara Kodia caves belong to 3rd-4th century AD and are the plainest of all cave groups. These caves are along the edge of the ancient Sudarshan Lake (which no longer exists) and the northern side of Uparkot. The chambers are separated into an east-west longitudinal crest. The rectangle western wing and the 'L' shaped wing used by the Monks as a monsoon shelter, are the important parts of the caves. They were carved into living rock during the reign of Emperor Ashoka and are considered the earliest monastic settlement in the area. After many years of use, they were abandoned because cracks above them allowed water to seep into living quarters, rendering them unusable. Many accounts say that after this, the monks left for Maharashtra, where they went on to carve many similar and more elaborate structures. Khapara Kodia was damaged by later quarrying, and now only the highest story remains.</p>
    <button class="btn btn-outline-dark" onclick= "window.open('https://asi.payumoney.com/','_blank')">Book Tickets Here</button>
    <img src="../../assets/Khapra-Kodiya-Caves.jpg" class="my-5" alt="Buddhist Caves Image" style="width: 100%;">
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container get-there">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">How to Get There?</h4>
    <br><br>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-road.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Road</h6>
            <p class="text-muted">Private and state bus services are available from different junctions in the state.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-train.png" alt="" class="direction-imgs">
        <span class="transport-train">
            <h6>By Train</h6>
            <p class="text-muted">The town has a railway station that is connected to major cities in Gujarat.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 5%;">
        <img src="../../assets/by-air.png" alt="" style="height: 100px; width: 250px;">
        <span class="transport-flight">
            <h6>By Air</h6>
            <p class="text-muted">The closest airports to Junagadh are Keshod (40 km) Porbandar (104 km) and Rajkot (105.3 km).</p>
        </span>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container khapra-content-lower">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">Nearby Attractions</h4>
    <div class="row">
        <div class="col-4 destination-container-image">
            <a routerLink="/girnar-hills" class="darken">
                <img src="../../assets/girnar-hills.jpg" alt="Girnar Hills" style="height: 300px; width: 300px;">
                <h5>Girnar Hills, Pilgrimage Centre</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/navghan-kuwo" class="darken">
                <img src="../../assets/Navghan-Kuwo.jpg" alt="Navghan Kuwo" style="height: 300px; width: 300px;">
                <h5>Navghan Kuwo</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/adi-kadi-vav" class="darken">
                <img src="../../assets/Adi-Kadi-Vav.jpg" alt="Adi Kadi Vav" style="height: 300px; width: 300px;">
                <h5>Adi Kadi Vav</h5>
            </a>
        </div>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>