<img src="../../assets/ashram-banner.jpg" alt="Ashram Banner" style="width: 100%; height: 700px; margin-bottom: 3%;">
<div class="container ashram-content" id="aboutLocation">
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">About The Location</h5>
    <p>Spread over a lush expanse of 223 acres, envisioned by our founder, Pujya Gurudevshri Rakeshji, the Ashram is a spiritual sanctuary for seekers from all walks of life and with varied interests, faiths and ages. Be it study of texts or listening to discourses, immersing in yoga or meditation, connecting through devotional bhajans or engaging in selfless ‘seva’- each spiritual activity at Shrimad Rajchandra Ashram, Dharampur is designed to tap into a deeper dimension, allowing you to bloom into an awakened existence.</p>
    <p>There is only so much that words can convey, and we would love for you to experience for yourself, these mesmerising sights and spiritually charged vibrations so that you can fall in love with this spiritual oasis. A few attractions of our ashram are - </p>
    <ol>
        <li>
            <p>
                <span class="my-1" style="font-family: 'Roboto Slab', serif; font-size: 20px; font-weight: 700;">The spiritual valley - </span>
                which boasts the glorious Jin Mandir, Shri Dharampur Tirth standing atop its highest peak, akin to a celestial palace - forged with Indian architecture and charged by Indian values. It also is the site of the world's tallest statue of Shrimad Rajchandraji, standing tall at 34 feet. The serenity of this blissful canyon will transport you to a different world entirely. 
            </p>
        </li>
        <li>
            <p>
                <span class="my-1" style="font-family: 'Roboto Slab', serif; font-size: 20px; font-weight: 700;">Tranquil Gardens - </span>
                To add to the spiritual atmosphere the ashram is adorned with 7 beautiful, themed gardens which offer a retreat from the chaotic world, allowing one to unwind and reflect, surrounded by nature at its finest.
            </p>
        </li>
        <li>
            <p>
                <span class="my-1" style="font-family: 'Roboto Slab', serif; font-size: 20px; font-weight: 700;">Satsang Halls, Meditation Complex & Yoga facilities - </span>
                To nourish the body, mind & soul we have edifying discourses, numerous yoga courses that range from a few days to several months. We also offer meditation retreats, 'Sadhana Bhatti', a space for spiritual seekers looking to explore the subtle depths of the self.
            </p>
        </li>
        <li>
            <p>
                <span class="my-1" style="font-family: 'Roboto Slab', serif; font-size: 20px; font-weight: 700;">Youth and children's activities - </span>
                The ashram hosts retreats for teenagers twice a year, giving children an introduction to spirituality through fun-filled activities and games rooted in value education. The Youth Festival witnesses young adults from all over the world congregate once a year to celebrate the single common threat of spirituality that unites them all. Through this, we ensure the future of India is one of culture, values, and tradition. 
            </p>
        </li>
        <li>
            <p>
                <span class="my-1" style="font-family: 'Roboto Slab', serif; font-size: 20px; font-weight: 700;">Social Initiatives - </span>
                One can witness & experience the joy of giving through 50 + holistic and multi-pronged charitable initiatives in the region which are powered by Pujya Gurudevshri’ s compassionate vision & genuine empathy of highly motivated volunteers. Focused on the welfare of people, animals, and the environment, the projects include schools, a science college, hospitals, animal shelters & an animal nursing home, women empowerment activities etc. 
            </p>
        </li>
        <li>
            <p>
                <span class="my-1" style="font-family: 'Roboto Slab', serif; font-size: 20px; font-weight: 700;">The grand Mahamastakabhishek Ceremony - </span>
                The grand Mahamastakabhishek Ceremony of the majestic 34 feet, world's tallest idol of Shrimad Rajchandraji conducted at Shrimad Rajchandra Ashram, Dharampur holds great devotional importance and is a very unique visual & cultural experience. 
            </p>
        </li>
    </ol>
    <br>
    <p>Thousands of seekers from India and other countries across the globe, including the USA, Canada, United Kingdom, Belgium, UAE, Oman, Australia, Kenya, Hong Kong, Singapore, New Zealand etc. partook in a magnificent celebration, which witnessed Pujya Gurudevshri Rakeshji's divine countenance immersed in overflowing veneration of Shrimad Rajchandraji. The Mahamastakabhishek comprised of worshipping Shrimad Rajchandraji with holy liquids of 5 colours – representing the 5 colours of the Panch Parmeshthi. Seekers experienced an inner cleansing as they beheld the abhishek on the splendid idol of Shrimadji.</p>
    <img src="../../assets/shrimad-rajchandra-mission-dharampur.jpg" class="my-5" alt="Shrimad Rajchandra Mission, Dharampur" style="width: 100%;">
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container get-there" id="getThere">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">How to Get There?</h4>
    <br><br>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-road.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Road</h6>
            <p class="text-muted">Nearest bus station Dharampur Depot, is around 2.7 km from Ashram.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-train.png" alt="" class="direction-imgs">
        <span class="transport-train">
            <h6>By Train</h6>
            <p class="text-muted">The Nearest railway station is Valsad, for which it takes 46 min (30.9 km) to reach from Ashram.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 5%;">
        <img src="../../assets/by-air.png" alt="" style="height: 100px; width: 250px;">
        <span class="transport-flight">
            <h6>By Air</h6>
            <p class="text-muted">The Nearest Airport is at Surat, which is located at a distance of approximately 104.8 km from Ashram and it takes about 2.8 hours to reach.</p>
        </span>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container ashram-content-lower" id="nearbyDestinations">
    <h3 style="font-family: 'Roboto Slab', serif; margin-top: 3%; margin-bottom: 5%;">Nearby Attractions</h3>
    <div class="row">
        <div class="col-4 destination-container-image">
            <a routerLink="/nargol-beach" class="darken">
                <img src="../../assets/nargol-beach.jpg" alt="Nargol Beach" style="height: 300px; width: 300px;">
                <h5>Nargol Beach</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/purna-wildlife" class="darken">
                <img src="../../assets/Purna-Wildlife.jpg" alt="Purna Wildlife Sanctuary" style="height: 300px; width: 300px;">
                <h5>Purna Wildlife Sanctuary</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/padam-dungri-ecotourism" class="darken">
                <img src="../../assets/padam-dungri.jpg" alt="Padam Dungri Ecotourism" style="height: 300px; width: 300px;">
                <h5>Padam Dungri Ecotourism</h5>
            </a>
        </div>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<ul class="navigation cf">
    <li (click)="toAbout()" class="my-2 icon"><svg xmlns="http://www.w3.org/2000/svg" height="1.4em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg></li>
    <li (click)="toGetThere()" class="my-2 icon"><svg xmlns="http://www.w3.org/2000/svg" height="1.4em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm306.7 69.1L162.4 380.6c-19.4 7.5-38.5-11.6-31-31l55.5-144.3c3.3-8.5 9.9-15.1 18.4-18.4l144.3-55.5c19.4-7.5 38.5 11.6 31 31L325.1 306.7c-3.2 8.5-9.9 15.1-18.4 18.4zM288 256a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg></li>
    <li (click)="toNearby()" class="my-2 icon"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M560 160A80 80 0 1 0 560 0a80 80 0 1 0 0 160zM55.9 512H381.1h75H578.9c33.8 0 61.1-27.4 61.1-61.1c0-11.2-3.1-22.2-8.9-31.8l-132-216.3C495 196.1 487.8 192 480 192s-15 4.1-19.1 10.7l-48.2 79L286.8 81c-6.6-10.6-18.3-17-30.8-17s-24.1 6.4-30.8 17L8.6 426.4C3 435.3 0 445.6 0 456.1C0 487 25 512 55.9 512z"/></svg></li>
</ul>