<img src="../../assets/Ratanmahal-Sloth-Bear-Sanctuary-banner.jpg" alt="Ratanmahal Sloth Bear Sanctuary Banner" style="width: 100%; height: 700px; margin-bottom: 3%;">
<div class="container sloth-content" id="aboutLocation">
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">About The Location</h5>
    <p>This sanctuary harbours maximum population of sloth bears in the entire state, which is the star attraction in the wilds of Ratanmahals. The sanctuary falls in the Dahod district of Central Gujarat and is located very close to the tribal towns, Baria of Dahod district and Chhota Udepur of Vadodara district. This area was declared as a wildlife sanctuary in March 1982. The sanctuary falls on the border of Gujarat with Madhya Pradesh. The actual habitat of the Sloth bear, therefore, extends into Madhya Pradesh. The pristine beauty of forests in this small tract with rugged topography gives the feel of a hill station to wildlife enthusiasts.</p>
    <p>For learning the habits and behaviour of the sloth bear, this sanctuary offers a unique opportunity as they are densely populated here. The sanctuary also has a large population of leopards.</p>
    <p>The forests include dry teak forests at the foothills and mixed deciduous forests with dry bamboo brakes on the periphery. There are pure patches of timru and sadad as well. The high concentration of mahuda trees provides a favourite food for sloth bears.</p>
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">Ecological significance</h5>
    <p>The forests of Ratanmahals form the catchment of river Panam- a major river of Central Gujarat. It drains through the districts of Dahod and Panchmahals. These are major towns on the banks of this river. An irrigation dam and reservoir is also built on this river near Godhra. These forests, therefore, have a great ecological significance for water conservation.</p>
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">The Forest Types</h5>
    <p>The forest type constitutes of different types of habitats like a dry teak forest at foothills and in the periphery of the P A, mixed deciduous forest, dry bamboo brakes, 'Timru' forest (pure patch) and 'Sadad' forest (pure patch). High population of 'Mahudo' trees intermixed with pure patches of 'Sadad' and 'Timru' forest on plateaus of the hills, at foothills, in plains on the periphery of PA provide food to sloth bear. Tree cover is very good. There are also quite a good number of 'Jamun' trees, which provide food to sloth bear during monsoon.</p>
    <img src="../../assets/ratanmahal-sloth-bear-sanctuary-image.jpg" class="my-5" alt="Ratanmahal Sloth Bear Sanctuary Image" style="width: 100%;">
    <button class="btn btn-outline-dark" onclick= "window.open('https://forests.gujarat.gov.in/wildlife-sanctuaries.htm','_blank')">Find More Details Here</button>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container get-there" id="getThere">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">How to Get There?</h4>
    <br><br>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-road.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Road</h6>
            <p class="text-muted">The Nearest Towns: Sagtala (15 km), Bariya (30 km), Kheda (45 km), Dahod (60 km). The nearest bus station is Devgadh Baria (42 km).</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-train.png" alt="" class="direction-imgs">
        <span class="transport-train">
            <h6>By Train</h6>
            <p class="text-muted">The Nearest Railway station are: Dahod - 70 km and Godhra - 85 km.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 5%;">
        <img src="../../assets/by-air.png" alt="" style="height: 100px; width: 250px;">
        <span class="transport-flight">
            <h6>By Air</h6>
            <p class="text-muted">Vadodara (130 km) and Ahmedabad (250 km).</p>
        </span>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container sloth-content-lower" id="nearbyDestinations">
    <h3 style="font-family: 'Roboto Slab', serif; margin-top: 3%; margin-bottom: 5%;">Nearby Attractions</h3>
    <div class="row">
        <div class="col-4 destination-container-image">
            <a routerLink="/statue-of-unity" class="darken">
                <img src="../../assets/vallabbhai.jpg" style="height: 300px; width: 300px;">
                <h5>Statue of Unity</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/dumas-beach" class="darken">
                <img src="../../assets/dumas-beach-thumbnail.jpg" alt="Dumas Beach" style="height: 300px; width: 300px;">
                <h5>Dumas Beach</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/shoolpaneshwar-wildlife-sanctuary" class="darken">
                <img src="../../assets/shoolpaneshwar-wildlife-sanctuary.jpg" alt="Shoolpaneshwar Wildlife Sanctuary" style="height: 300px; width: 300px;">
                <h5>Shoolpaneshwar Wildlife Sanctuary</h5>
            </a>
        </div>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<ul class="navigation cf">
    <li (click)="toAbout()" class="my-2 icon"><svg xmlns="http://www.w3.org/2000/svg" height="1.4em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg></li>
    <li (click)="toGetThere()" class="my-2 icon"><svg xmlns="http://www.w3.org/2000/svg" height="1.4em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm306.7 69.1L162.4 380.6c-19.4 7.5-38.5-11.6-31-31l55.5-144.3c3.3-8.5 9.9-15.1 18.4-18.4l144.3-55.5c19.4-7.5 38.5 11.6 31 31L325.1 306.7c-3.2 8.5-9.9 15.1-18.4 18.4zM288 256a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg></li>
    <li (click)="toNearby()" class="my-2 icon"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M560 160A80 80 0 1 0 560 0a80 80 0 1 0 0 160zM55.9 512H381.1h75H578.9c33.8 0 61.1-27.4 61.1-61.1c0-11.2-3.1-22.2-8.9-31.8l-132-216.3C495 196.1 487.8 192 480 192s-15 4.1-19.1 10.7l-48.2 79L286.8 81c-6.6-10.6-18.3-17-30.8-17s-24.1 6.4-30.8 17L8.6 426.4C3 435.3 0 445.6 0 456.1C0 487 25 512 55.9 512z"/></svg></li>
</ul>