a.darken {
  display: inline-block;
  background: black;
  padding: 0;
  position: relative;
  border-radius: 5%;
}

a.darken img {
  display: block;
  border-radius: 5%;

  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

a.darken:hover img {
  opacity: 0.4;
}
a.darken h5 {
  position: absolute;
  bottom: 3%;
  display: none;
  left: 5%;
}
a.darken:hover h5 {
  display: block;
  color: #fff;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

a.darken p {
  position: absolute;
  bottom: 0;
  display: none;
  left: 5%;
}
a.darken:hover p {
  display: block;
  color: #fff;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.destination-container-image {
  height: 250px;
  width: 250px;
  margin-right: 6%;
  margin-bottom: 3%;
  margin-left: 1.5%;
  border-radius: 5%;
  padding: 0;
  text-align: left;
}

.direction-imgs {
  height: 150px;
  width: 220px;
}

.get-there {
  font-family: "Montserrat", sans-serif;
  padding: 5% 10%;
  background-color: #97dece;
}

.kund-location {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 500;
}

.kund-content {
  font-family: "Montserrat", sans-serif;
  padding: 5% 10%;
  background-color: #c1ece4;
}

.kund-content-lower {
  font-family: "Montserrat", sans-serif;
  padding: 5% 10%;
  background-color: #c1ece4;
  margin-bottom: 5%;
}

.transport-bus {
  padding-left: 11%;
}

.transport-train {
  padding-left: 13%;
}

.transport-flight {
  padding-left: 7%;
}

.cf {
  display: block;
}

.navigation {
  position: fixed;
  list-style-type: none;
  top: 50%;
  margin-top: -110px;
  right: 0;
  padding: 5px 5px;
  width: 40px;
  background-color: #45cfdd;
  z-index: 1;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.icon:hover {
  background-color: #0e8388;
  cursor: pointer;
}
