<img src="../../assets/Ashoka-Edict-banner.jpg" alt="Ashoka Edicts Banner" style="width: 100%; height: 700px; margin-bottom: 3%;">
<div class="container ashoke-content">
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">About The Location</h5>
    <p>Ashoka's Rock Edicts belong to 250 BC where around 14 edicts of Ashoka are located on the route to the Mount Girnar Hills. This rock edict is a huge stone and the carving in Brahmi script in Pali language mentions the resistance to greed and animal sacrifice and also moralizes the principles of purity of thought, secularism in thinking, kindness and gratitude. The other major part of Junagadh’s Buddhist heritage are the stone edicts of Emperor Ashoka, found on the road towards Mt. Girnar.</p>
    <p>When Ashoka famously converted to Buddhism and renounced violence, on his way to being one of India's most revered and respected rulers of all time, he had edicts carved in stone and placed in sites all across India (ranging as far as Kandahar in present-day Afghanistan in the West, modern Bangladesh in the East, Andhra Pradesh in the south) with precepts for living a virtuous life, respecting others and creating a just society. Speaking in moral and ethical terms, not religious ones (though the Buddha is mentioned), the edicts reach out across faiths and traditions. Tellingly, in Junagadh one edict that is visible (though you won’t understand it unless you read Pali) reads: “To foster one’s own sect, depreciating the others out of affection for one’s own, to exalt its merit, is to do the worst harm to one’s own sect.” This is wise counsel calling to us from 2300 years ago.</p>
    <p>The site of the edicts is open every day from 8 am-6 pm. Entry is Rs.25/- for Indians & Rs.250/- for Foreigners.</p>
    <button class="btn btn-outline-dark" onclick= "window.open('https://asi.payumoney.com/','_blank')">Book Tickets Here</button>
    <img src="../../assets/ashoke-edicts.jpg" class="my-5" alt="Ashoka Edicts Image" style="width: 100%;">
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container get-there">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">How to Get There?</h4>
    <br><br>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-road.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Road</h6>
            <p class="text-muted">Private and state bus services are available from different junctions in the state.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-train.png" alt="" class="direction-imgs">
        <span class="transport-train">
            <h6>By Train</h6>
            <p class="text-muted">The town has a railway station that is connected to major cities in Gujarat.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 5%;">
        <img src="../../assets/by-air.png" alt="" style="height: 100px; width: 250px;">
        <span class="transport-flight">
            <h6>By Air</h6>
            <p class="text-muted">The closest airports to Junagadh are Keshod (40 km) Porbandar (104 km) and Rajkot (105.3 km).</p>
        </span>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container ashoke-content-lower">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">Nearby Attractions</h4>
    <div class="row">
        <div class="col-4 destination-container-image">
            <a routerLink="/girnar-hills" class="darken">
                <img src="../../assets/girnar-hills.jpg" alt="Girnar Hills" style="height: 300px; width: 300px;">
                <h5>Girnar Hills, Pilgrimage Centre</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/mahabat-maqbara" class="darken">
                <img src="../../assets/mahabatMaqbara.jpg" alt="Mahabat Khan Maqbara" style="height: 300px; width: 300px;">
                <h5>Mahabat Khan Maqbara</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/buddhist-caves" class="darken">
                <img src="../../assets/khapra-kodiya.jpg" alt="Buddhist Caves of Khapra Kodiya" style="height: 300px; width: 300px;">
                <h5>Buddhist Caves of Khapra Kodiya</h5>
            </a>
        </div>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>