<div class="festival-container">
  <!-- Card -->
  <div class="card" style="width: 800px; height: 630px">
    <!-- Card image -->
    <div class="view overlay">
      <img
        class="card-img-top"
        src="../../assets/navratri-gujarat.jpg"
        alt="Card image cap"
        style="width: 800px; height: 415px"
      />
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!-- Card content -->
    <div class="card-body text-center">
      <!-- Title -->
      <h4 class="card-title">Navratri Festival</h4>
      <!-- Text -->
      <p class="card-text" style="font-size: small">
        Navratri, meaning 'nine nights', is one of the most popular and widely
        celebrated Hindu festivals in many parts of India. Gujarat, however, is
        the only state that erupts into a nine-night dance festival, perhaps the
        longest in the world. Each night, all over the state, villages and
        cities alike, people gather in open spaces to celebrate feminine
        divinity, referred to as Shakti
      </p>
      <!-- Button -->
      <a routerLink="/festivals" class="btn btn-info">View All</a>
    </div>
  </div>
  <!-- Card -->
</div>
