<img src="../../assets/somnath-temple-banner.jpg" alt="Somnath Temple Banner" style="width: 100%; height: 700px; margin-bottom: 3%;">
<div class="container somnath-content" id="aboutLocation">
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">About The Location</h5>
    <p>The intricately carved honey-coloured Somnath temple on the western edge of the state is believed to be the place where the first of the twelve holy jyotirlingas emerged in India - a spot where Shiva appeared as a fiery column of light. The temples lies at the meeting of Kapila, Hiran and Sarasvati rivers and the waves of the Arabian Sea ebb and flow touching the shore on which it is constructed. The ancient temple's timeline can be traced from 649 BC but is believed to be older than that. The present form was reconstructed in 1951. Colourful dioramas of the Shiva story line the north side of the temple garden, though it's hard to see them through the hazy glass. A one-hour sound-and-light show in Amitabh Bachchan's baritone highlights the temple nightly at 7.45pm.</p>
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">Brief History</h5>
    <p>It's said that Somraj (the moon god) first built a temple in Somnath, made of gold; this was rebuilt by Ravana in silver, by Krishna in wood and by Bhimdev in stone. The current serene, symmetrical structure was built to traditional designs on the original coastal site: it's painted a creamy colour and boasts a little fine sculpture. The large, black Shiva lingam at its heart is one of the 12 most sacred Shiva shrines, known as jyotirlinga.</p>
    <p>A description of the temple by Al-Biruni, an Arab traveller, was so glowing that it prompted a visit in 1024 by a most unwelcome tourist - the legendary looter Mahmud of Ghazni from Afghanistan. At that time, the temple was so wealthy that it had 300 musicians, 500 dancing girls and even 300 barbers. Mahmud of Ghazni took the town and temple after a two-day battle in which it's said 70,000 defenders died. Having stripped the temple of its fabulous wealth, Mahmud destroyed it. So began a pattern of destruction and rebuilding that continued forcenturies. The temple was again razed in 1297, 1394 and finally in 1706 by Aurangzeb, the Mughal ruler. After that, the temple wasn't rebuilt until 1950.</p>
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">Best Time to Visit</h5>
    <p>The best time to visit Somnath Temple is in the cooler months of October to February, though the site is open all through the year. Shivratri (usually in February or March) and Kartik Purnima (close to Diwali) are celebrated with great enthusiasm here.</p>
    <img src="../../assets/somnath-temple-image.jpg" class="my-5" alt="Damodar Kund Image" style="width: 100%;">
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container get-there" id="getThere">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">How to Get There?</h4>
    <br><br>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-road.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Road</h6>
            <p class="text-muted">The temple city lies 82 km from Junagadh, 270 km from Bhavnagar and 120 km from Porbandar. Ahmedabad is just 400 km away from Somnath.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-train.png" alt="" class="direction-imgs">
        <span class="transport-train">
            <h6>By Train</h6>
            <p class="text-muted">Somnath is the nearest railway station, is well connected to other major towns in Gujarat and India.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 5%;">
        <img src="../../assets/by-air.png" alt="" style="height: 100px; width: 250px;">
        <span class="transport-flight">
            <h6>By Air</h6>
            <p class="text-muted">Porbandar Airport is 120 km and Rajkot airport is 200 km away.</p>
        </span>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container somnath-content-lower" id="nearbyDestinations">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">Nearby Attractions</h4>
    <div class="row">
        <div class="col-4 destination-container-image">
            <a routerLink="/gir" class="darken">
                <img src="../../assets/gir-park.jpg" alt="Gir" style="height: 300px; width: 300px;">
                <h5>Gir National Park</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/triveni-sangam" class="darken">
                <img src="../../assets/Triveni-Sangam-Thumbnail.jpg" alt="Triveni Sangam" style="height: 300px; width: 300px;">
                <h5>Triveni Sangam</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/bhalka-tirth" class="darken">
                <img src="../../assets/Bhalka-Tirth--thumbnail.jpg" alt="Bhalka Tirth" style="height: 300px; width: 300px;">
                <h5>Bhalka Tirth</h5>
            </a>
        </div>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<ul class="navigation cf">
    <li (click)="toAbout()" class="my-2 icon"><svg xmlns="http://www.w3.org/2000/svg" height="1.4em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg></li>
    <li (click)="toGetThere()" class="my-2 icon"><svg xmlns="http://www.w3.org/2000/svg" height="1.4em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm306.7 69.1L162.4 380.6c-19.4 7.5-38.5-11.6-31-31l55.5-144.3c3.3-8.5 9.9-15.1 18.4-18.4l144.3-55.5c19.4-7.5 38.5 11.6 31 31L325.1 306.7c-3.2 8.5-9.9 15.1-18.4 18.4zM288 256a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg></li>
    <li (click)="toNearby()" class="my-2 icon"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M560 160A80 80 0 1 0 560 0a80 80 0 1 0 0 160zM55.9 512H381.1h75H578.9c33.8 0 61.1-27.4 61.1-61.1c0-11.2-3.1-22.2-8.9-31.8l-132-216.3C495 196.1 487.8 192 480 192s-15 4.1-19.1 10.7l-48.2 79L286.8 81c-6.6-10.6-18.3-17-30.8-17s-24.1 6.4-30.8 17L8.6 426.4C3 435.3 0 445.6 0 456.1C0 487 25 512 55.9 512z"/></svg></li>
</ul>