<img src="../../assets/Patan-Patola-Heritage-Museum-banner.jpg" alt="Patan Patola Banner" style="width: 100%; height: 700px; margin-bottom: 3%;">
<div class="container patan-content">
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">About The Location</h5>
    <p>Run by the multiple-award-winning Salvi family, this purpose-built museum is an excellent place to see Patola silk weaving in action. The family has specialised in double-ikat weaving (a process that their ancestors brought from Southeast Asia) since the 11th century. You can observe a demonstration on the loom and compare the family’s craft with beautifully displayed single-ikat textiles from around the world, from Uzbekistan and northern Thailand to Holland.</p>
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">Brief History</h5>
    <p>The art of double ikat goes back centuries and is also seen in some of the cave paintings in Ajanta. Legends say that it was in 12 century AD that King Kumarpal of the Solanki dynasty, invited 700 families of patola weavers from Jalna (South Maharashtra) to settle down in Patan in North Gujarat. The Salvi family is one of them. They have continued to preserve this art for the last 35 generations.</p>
    <img src="../../assets/Patan-Patola-Heritage-Museum-image.jpg" class="my-5" alt="Patan Patola Image" style="width: 100%;">
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container get-there">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">How to Get There?</h4>
    <br><br>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-road.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Road</h6>
            <p class="text-muted">Intercity buses from Ahmedabad to Patan take 3.5 hours, and 1 hour from Mehsana. Shared jeeps are slightly quicker, but less comfortable.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-train.png" alt="" class="direction-imgs">
        <span class="transport-train">
            <h6>By Train</h6>
            <p class="text-muted">The train can take you as far as Mehsana (1 hour). From there you will need to catch a bus to Patan.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 5%;">
        <img src="../../assets/by-air.png" alt="" style="height: 100px; width: 250px;">
        <span class="transport-flight">
            <h6>By Air</h6>
            <p class="text-muted">The nearest airport from Patan is Ahmedabad, situated at a distance of 125 km. The airport here, in turn is connected to International and Indian cities. Patan has a railway station for easy access.</p>
        </span>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container patan-content-lower">
    <h3 style="font-family: 'Roboto Slab', serif; margin-top: 3%; margin-bottom: 5%;">Nearby Attractions</h3>
    <div class="row">
        <div class="col-4 destination-container-image">
            <a routerLink="/panchasara-parshwanath-jain-derasar" class="darken">
                <img src="../../assets/jain-derasar.jpg" alt="Panchasara Parshwanath Jain Derasar" style="height: 300px; width: 300px;">
                <h5>Panchasara Parshwanath Jain Derasar</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/rani-ki-vav" class="darken">
                <img src="../../assets/rani-ki-vav.jpg" alt="Rani Ki Vav" style="height: 300px; width: 300px;">
                <h5>Rani Ki Vav</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/modhera-sun-temple" class="darken">
                <img src="../../assets/suntemple.jpg" alt="Modhera Sun Temple" style="height: 300px; width: 300px;">
                <h5>Modhera Sun Temple</h5>
            </a>
        </div>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>