<div class="destination-container">
    <div class="row">
        <div class="col destination-container-image"><img src="../../assets/gir-park.jpg" alt="Gir Park" class="destination-images"></div>
        <div class="col destination-container-image"><img src="../../assets/vadnagar-gujarat.jpg" alt="Vadnagar Gujarat" class="destination-images"></div>
        <div class="col destination-container-image"><img src="../../assets/vallabbhai.jpg" alt="Statue of Unity" class="destination-images"></div>
        <div class="col destination-container-image"><img src="../../assets/smritivan.jpeg" alt="Smritivan" class="destination-images"></div>
        <div class="col destination-container-image"><img src="../../assets/rajchandraashram.jpg" alt="Shrimad Rajchandra Ashram " class="destination-images"></div>
        <div class="col destination-container-image"><img src="../../assets/suntemple.jpg" alt="Modhera Sun Temple" class="destination-images"></div>
        <div class="col destination-container-image"><img src="../../assets/Dholavira.jpg" alt="Dholavira Kutch" class="destination-images"></div>
        <div class="col destination-container-image"><img src="../../assets/ranikipav.jpg" alt="Rani Ki Vav Patan" class="destination-images"></div>
    </div>
</div>