<div class="destinations">
    <div class="heading">
        <p>Discover Top Destinations</p>
    </div>
    <div class="destination-container">
        <div class="row">
            <div class="col-3 destination-container-image">
                <a routerLink="/gir" class="darken">
                    <img src="../../assets/gir-park.jpg" style="height: 300px; width: 300px;">
                    <h5>Gir National Park</h5>
                    <p>Gir Somnath</p>
                </a>
            </div>
            <div class="col-3 destination-container-image">
                <a routerLink="/vadnagar" class="darken">
                    <img src="../../assets/vadnagar-gujarat.jpg" style="height: 300px; width: 300px;">
                    <h5>Vadnagar</h5>
                    <p>Mehsana</p>
                </a>
            </div>
            <div class="col-3 destination-container-image">
                <a routerLink="/statue-of-unity" class="darken">
                    <img src="../../assets/vallabbhai.jpg" style="height: 300px; width: 300px;">
                    <h5>Statue of Unity</h5>
                    <p>Narmada</p>
                </a>
            </div>
            <div class="col-3 destination-container-image">
                <a routerLink="/smritivan" class="darken">
                    <img src="../../assets/smritivan.jpeg" style="height: 300px; width: 300px;">
                    <h5>Smritivan</h5>
                    <p>Bhuj</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-3 destination-container-image">
                <a routerLink="/shrimad-rajchandra-ashram" class="darken">
                <img src="../../assets/rajchandraashram.jpg" style="height: 300px; width: 300px;">
                <h5>Shrimad Rajchandra Ashram</h5>
                <p>Valsad</p>
            </a>
        </div>
        <div class="col-3 destination-container-image">
            <a routerLink="/modhera-sun-temple" class="darken">
                <img src="../../assets/suntemple.jpg" style="height: 300px; width: 300px;">
                <h5>Modhera Sun Temple</h5>
                <p>Mehsana</p>
            </a>
        </div>
        <div class="col-3 destination-container-image">
            <a routerLink="/dholavira" class="darken">
                <img src="../../assets/Dholavira.jpg" style="height: 300px; width: 300px;">
                <h5>Dholavira</h5>
                <p>Kutch</p>
            </a>
        </div>
        <div class="col-3 destination-container-image">
            <a routerLink="/rani-ki-vav" class="darken">
                <img src="../../assets/ranikipav.jpg" style="height: 300px; width: 300px;">
                <h5>Rani Ki Vav</h5>
                <p>Patan</p>
            </a>
        </div>
    </div>
</div>