<img src="../../assets/smritivan-banner.jpeg" alt="Smritivan Banner" style="width: 100%; height: 700px; margin-bottom: 3%;">
<div class="container smritivan-content" id="aboutLocation">
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">About The Location</h5>
    <p>The beautiful land of Gujarat has never had the scarcity when it comes to marvel, and awe. The vast arrays of arable fields and wilderness that wrap the state are nothing less than a wonder to behold. To add another gem to this list, India's largest memorial, and museum has recently opened its doors to the public in Bhuj, from the Kutch region.</p>
    <p>Smritivan (can be translated as Forest of Memories), adorned as the largest memorial and museum to ever be built in modern India, covers a vast area over 470 acres. It is situated on the Bhujiyo Dungar (a small hill) in the outskirts of Bhuj. It also shares the area with the Bhujia fort, which is more than 300 years old.</p>
    <p>Created for the bereaved families of the earthquake victims from 2001, Smritivan is a place of pilgrimage, a praise for the resilience and reverence of the people of Kutch, and a haven for those who find solace in nature. The memorial consists of a Sun-Point that overlooks the city, the sunrises and the sunsets from atop the Bhujiyo Dungar</p>
    <p>The memorial also consists of the world's largest Miyawaki Forest with over 3 lakh plants, spread across the entire memorial to create a living, breathing monument that also serves as the lungs for the city of Bhuj.</p>
    <p>There's a locally installed 1.1 Megawatt solar power plant that powers the museum, and memorial. The objective of this solar power plant is to have a self-sustainable, renewable green energy that leads the way for all future establishments.</p>
    <p>The Smritivan Earthquake Memorial has 50 check-dam reservoirs that house the name plates of almost 13,000 victims of the 2001 earthquake. Along with this, the reservoirs are carefully planned to recharge the surrounding water levels, giving life to the surrounding forests, and the rocks used in these reservoirs will serve as foundations for new life to grow from within their cracks. Each element of the museum focuses on regeneration, sustainability, and hope for a better future.</p>
    <p>With the opening of the museum, the innocent lives lost more than two decades ago will now be immortalised and commemorated for posterity - in an ecologically sustainable, historically profound, and sensorially enriching manner for the individual and collective cultural enhancement of the future generations.</p>
    <p>The size of the Smritivan Earthquake Museum is 11,500 sq.mts which encompasses 7 different blocks (further divided into sub-galleries) that constitute the monument, and every one of them is unique, educational, interactive, and something straight out of science fiction.The seven galleries include:</p>
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">Rebirth</h5>
    <p>Here we witness the history of Earth's evolution, the emergence of landforms over millions of years and the genesis of the very land we inhabit. Visitors get a glimpse of prosperous ancient human civilizations in the Kutch region, ancient trade routes of Gujarat, and the tale of its advancement and resilience.</p>
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">Rediscover</h5>
    <p>Through the Rediscover block, we experience the resilient nature of Kutch, the innovative spirit of Gujarat's people, and the reasons for the multiple natural occurrences in Gujarat. Discover the diverse natural features of Gujarat region and understand its relationship with inconsistent natural phenomena. Through interactive models and immersive films, see the vulnerabilities, remarkable adaptations and resilient responses of the people of a region with erratic environments.</p>
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">Restore</h5>
    <p>People from all walks of life were affected by the earthquake in some or the other way. Here we recount the tragic events of the 2001 Bhuj earthquake. It also presents the immediate rescue and relief activities that followed. Touch, listen and immerse into the diverse testimonies and recollections of earthquake survivors, and the memories of the loved ones of victims from across Gujarat, and India.</p>
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">Rebuild</h5>
    <p>This block gives us a comprehensive understanding of the collective process of rebuilding, reconstructing and reviving Gujarat for long-term disaster mitigation. It also showcases the collective effort channelized towards rebuilding Gujarat in the aftermath of the 2001 earthquake. Witness how an apex body formed within weeks post-earthquake ensured timely rehabilitation, reconstruction, and recovery.</p>
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">Rethink</h5>
    <p>The Rethink Block imparts us with the knowledge of global disaster response, and preparedness measures through games and interactive activities. Learn about India's vulnerability to natural phenomena, the various natural hazards in different geographical areas, and how we can prepare ourselves. The emotional and psychosocial ramifications of post-disaster management are documented here through interviews and first-person experiences.</p>
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">Relive</h5>
    <p>How the tremors shook Gujarat, how buildings collapsed and how lives turned to fatalities. With the world's largest simulation experience in state-of-the-art 360-degree surrounding simulations, you will feel the earth slip beneath your feet, and experience the tremors that people felt in the 2001 Earthquake in a realistic manner. It also houses the tree of Smritivan, present inside an infinity room, where you can add paper-made petals to the branches as messages.</p>
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">Renew</h5>
    <p>This gallery is designed to let the visitors pay their respects to the people who lost their lives in this tragedy and to remember the loved ones they might have lost and keep them in their memories with a light spirit. To commemorate them visitors will light up a digital flame through touch panels which will travel through digital LED walls up to the ceiling and form one united light. It is the highest number of optical fibre sensor-based lighting that has ever been placed in a single location in India. Breathtaking, and a sight to behold!</p>
    <br>
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">History</h5>
    <p>One of the most catastrophic calamities in Indian history, the Gujarat earthquake in 2001, left the entire nation in shock. Measuring 7.9 on the Richter scale, and with Bhuj as the epicentre, it still sends chills down the spine of anyone who has experienced it. In terms of numbers, it had impacted a total of 15,23,562 individuals from the Kutch district alone, killing around 12,932 people and affecting 890 villages. When we discuss other districts, the list continues.</p>
    <p>In addition to food and water supplies, it had also devastated the stock of ration in homes, and other necessities. Temples and historic buildings were annihilated. The sad element, though, goes beyond the tangible harm that can be measured or observed. The catastrophe is historic because it had an impact on everyone who survived — mentally, emotionally, and physically. When it was linked to the 1819 Rann of Kutch earthquake, it gained even greater historical significance.</p>
    <p>This earthquake has had a significant impact on Gujarat as a whole, but what is impressive is how they have resurfaced from it. Gujarat has emerged as one of the best states in the country, and the credit goes to the courage of its people, and the determination of the government. </p>
    <p>The museum was also the dream project of the then Chief Minister, and the now honourable Prime Minister of India - Shri Narendra Modi. The project was also inaugurated by the Prime Minister himself, on 28th August, 2022. In a public speech after the inauguration, he also requested the people of Kutch, and their guests to not leave Kutch without paying a visit to Smritivan Earthquake Memorial, and Museum.</p>
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">Best time to visit</h5>
    <p>The ideal season to travel Kutch is in the winter. From mid-October to early March, these months have ideal weather for tourism because the temperature ranges from 25 to 12 degrees Celsius. Additionally, it also is the perfect time to attend the world famous Festival of Rann Utsav.</p>
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">Timings</h5>
    <p>Tuesday to Sunday</p>
    <p>Smritivan: From 05:00 AM until 11:00 PM</p>
    <p>Museum: From 11:00 AM until 07:00 PM</p>
    <p style="color: red;">Monday: Closed</p>
    <img src="../../assets/smritivan-museum.jpeg" class="my-5" alt="Smritivan Museum" style="width: 100%;">
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container get-there" id="getThere">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">How to Get There?</h4>
    <br><br>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-road.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Road</h6>
            <p class="text-muted">The Smritivan Earthquake Memorial Museum is well connected with major cities of Gujarat state such as Rajkot (229 Km), Ahmedabad (329 Km) and Gandhinagar (350 Km) through a road network.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-train.png" alt="" class="direction-imgs">
        <span class="transport-train">
            <h6>By Train</h6>
            <p class="text-muted">The nearest Railway station is Bhuj Junction, which is around 5 km from The Smritivan Earthquake Memorial Museum and it takes about 10-15 Minutes to reach.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 5%;">
        <img src="../../assets/by-air.png" alt="" style="height: 100px; width: 250px;">
        <span class="transport-flight">
            <h6>By Air</h6>
            <p class="text-muted">The nearest Airport is at Bhuj, which is well connected to the major cities of the country such as Ahmedabad and Mumbai by regular flights. Bhuj Airport is located at a distance of approximately 8 km from The Smritivan Earthquake Memorial Museum and it takes about 15-20 Minutes to reach.</p>
        </span>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container smritivan-content-lower" id="nearbyDestinations">
    <h3 style="font-family: 'Roboto Slab', serif; margin-top: 3%; margin-bottom: 5%;">Nearby Attractions</h3>
    <div class="row">
        <div class="col-4 destination-container-image">
            <a routerLink="/great-rann-of-kutch" class="darken">
                <img src="../../assets/great-rann-of-kutch.jpg" alt="Great Rann Of Kutch" style="height: 300px; width: 300px;">
                <h5>Great Rann Of Kutch</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/kalo-dungar" class="darken">
                <img src="../../assets/Kalo-Dungar.jpg" alt="Kalo Dungar" style="height: 300px; width: 300px;">
                <h5>Kalo Dungar (The Black Hills)</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/dholavira" class="darken">
                <img src="../../assets/Dholavira.jpg" alt="Dholavira" style="height: 300px; width: 300px;">
                <h5>Dholavira</h5>
            </a>
        </div>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<ul class="navigation cf">
    <li (click)="toAbout()" class="my-2 icon"><svg xmlns="http://www.w3.org/2000/svg" height="1.4em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg></li>
    <li (click)="toGetThere()" class="my-2 icon"><svg xmlns="http://www.w3.org/2000/svg" height="1.4em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm306.7 69.1L162.4 380.6c-19.4 7.5-38.5-11.6-31-31l55.5-144.3c3.3-8.5 9.9-15.1 18.4-18.4l144.3-55.5c19.4-7.5 38.5 11.6 31 31L325.1 306.7c-3.2 8.5-9.9 15.1-18.4 18.4zM288 256a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg></li>
    <li (click)="toNearby()" class="my-2 icon"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M560 160A80 80 0 1 0 560 0a80 80 0 1 0 0 160zM55.9 512H381.1h75H578.9c33.8 0 61.1-27.4 61.1-61.1c0-11.2-3.1-22.2-8.9-31.8l-132-216.3C495 196.1 487.8 192 480 192s-15 4.1-19.1 10.7l-48.2 79L286.8 81c-6.6-10.6-18.3-17-30.8-17s-24.1 6.4-30.8 17L8.6 426.4C3 435.3 0 445.6 0 456.1C0 487 25 512 55.9 512z"/></svg></li>
</ul>