<img src="../../assets/Navghan-Kuwo-Banner.jpg" alt="Navghan Kuwo Banner" style="width: 100%; height: 700px; margin-bottom: 3%;">
<div class="container kuwo-content">
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">About The Location</h5>
    <p>These two stepwells inside Uparkot, are highly unusual forms of stepwells, very different from wells in other parts of Gujarat. Most wells are dug through various kinds of subsoils and rock layers, and stone columns, floors, stairs and walls are built much like they would be in above-ground construction. In the case of these two, the spaces of the well itself were carved out of stone, leaving the structure of the well (the columns, the walls, etc.) out of the original rock. This means no structural construction is done, so the whole structure of the well is hewn out of a single stone.</p>
    <p>Navghan Kuwo, just a few years shy of being a thousand years old (it was apparently built in 1026 AD, though some accounts say it is much older), is partly hewn out of soft rock and partly built up structurally like other wells. The stairs that lead down 52 m (170 ft.) to the water level spiral around the well shaft itself, which is also very uncommon. The water from Navghan Kuwo is what allowed Uparkot to withstand many long sieges.</p>
    <img src="../../assets/Navghan-Kuwo-image.jpg" class="my-5" alt="Navghan Kuwo Image" style="width: 100%;">
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container get-there">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">How to Get There?</h4>
    <br><br>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-road.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Road</h6>
            <p class="text-muted">Private and state bus services are available from different junctions in the state.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-train.png" alt="" class="direction-imgs">
        <span class="transport-train">
            <h6>By Train</h6>
            <p class="text-muted">The town has a railway station that is connected to major cities in Gujarat.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 5%;">
        <img src="../../assets/by-air.png" alt="" style="height: 100px; width: 250px;">
        <span class="transport-flight">
            <h6>By Air</h6>
            <p class="text-muted">The closest airports to Junagadh are Keshod (40 km) Porbandar (104 km) and Rajkot (105.3 km).</p>
        </span>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container kuwo-content-lower">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">Nearby Attractions</h4>
    <div class="row">
        <div class="col-4 destination-container-image">
            <a routerLink="/girnar-hills" class="darken">
                <img src="../../assets/girnar-hills.jpg" alt="Girnar Hills" style="height: 300px; width: 300px;">
                <h5>Girnar Hills, Pilgrimage Centre</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/mahabat-maqbara" class="darken">
                <img src="../../assets/mahabatMaqbara.jpg" alt="Mahabat Khan Maqbara" style="height: 300px; width: 300px;">
                <h5>Mahabat Khan Maqbara</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/uparkotFort" class="darken">
                <img src="../../assets/uparkot.jpg" alt="Uparkot Fort" style="height: 300px; width: 300px;">
                <h5>Uparkot Fort</h5>
            </a>
        </div>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>