<img src="../../assets/Ranchodrai-Temple,-Dakor-Banner.jpg" alt="Ranchodrai Temple Banner" style="width: 100%; height: 700px; margin-bottom: 3%;">
<div class="container temple-content">
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">About The Location</h5>
    <p>The main temple, enclosed by a fort wall, is situated near the bank of the holy lake Gomti in the midst of the main bazaar of Dakor. The temple is covered with 8 domes and 24 turrets, with the central dome reaching a height of 27 m. Crowned with a golden kalash and a white silken flag, this temple is the tallest in the district. Though not very rich in carving, the main cupola derives its influence from the Maharashtrian style of temple architecture. The main hall features paintings depicting events in Lord Krishna's life.</p>
    <p>It is believed that Ranchhodji, a name for Lord Krishna meaning "he who left the battlefield", inspired Gopal Jagannath Ambekar, a shroff of a Peshwa’s court in Poona, with a dream to build a vast and magnificent temple. The temple was built in 1772 AD. The main Ranchhodrai idol is in black touchstone, 1 m tall and 45 cm in breadth, richly adorned with gold, jewels and expensive clothes. Its throne, an ornate masterpiece of woodcarving plated in silver and gold, was presented by the Gaekwad of Baroda.</p>
    <p>On the upper floor of the gate there is a tokorkhana (music room) where music is played on shehnai and drums daily every three hours. Shri Bhalchandrarao and other descendants of the builder of this temple, Inamdar Tambekar, give their services to this temple even today. For many, listening to the devotional songs sung by Champavatiben Tambekar is a very special experience.</p>
    <img src="../../assets/Ranchodrai-Temple-image.jpg" class="my-5" alt="Ranchodrai Temple Image" style="width: 100%;">
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container get-there">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">How to Get There?</h4>
    <br><br>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-road.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Road</h6>
            <p class="text-muted">Dakor is in Thasra taluka of Kheda District, 43 km northeast of Anand, and 35 km east of Nadiad. Private and ST buses are available from Ahmedabad, Vadodara and Anand.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-train.png" alt="" class="direction-imgs">
        <span class="transport-train">
            <h6>By Train</h6>
            <p class="text-muted">Nadiad and Anand are the nearest major railway stations. There is also a slow-train branch line terminus at Umreth-8.4 km away.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 5%;">
        <img src="../../assets/by-air.png" alt="" style="height: 100px; width: 250px;">
        <span class="transport-flight">
            <h6>By Air</h6>
            <p class="text-muted">The nearest airport is in Vadodara- 78 km south, but the Ahmedabad airport- 90 km to the northwest, is not much further and has far more flights.</p>
        </span>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container temple-content-lower">
    <h3 style="font-family: 'Roboto Slab', serif; margin-top: 3%; margin-bottom: 5%;">Nearby Attractions</h3>
    <div class="row">
        <div class="col-4 destination-container-image">
            <a routerLink="/sayaji-baug" class="darken">
                <img src="../../assets/sayaji-baug-thumbnail.jpg" alt="Sayaji Baug" style="height: 300px; width: 300px;">
                <h5>Sayaji Baug</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/vadnagar" class="darken">
                <img src="../../assets/vadnagar-gujarat.jpg" alt="Vadnagar" style="height: 300px; width: 300px;">
                <h5>Vadnagar</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/hatkeshwar-temple" class="darken">
                <img src="../../assets/hatkeshwar-temple.jpg" alt="Hatkeshwar Temple" style="height: 300px; width: 300px;">
                <h5>Hatkeshwar Temple</h5>
            </a>
        </div>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>