<div class="bg" id="home"></div>
<app-trails id="carouselContainer"></app-trails>
<app-destinations id="destinations"></app-destinations>
<app-festivals id="fairs"></app-festivals>
<ul class="navigation cf">
  <li (click)="tohome()" class="my-2 icon"><img src="../../assets/home.png" alt="" class="iconImg"></li>
  <li (click)="tocarousel()" class="my-2 icon"><img src="../../assets/pngwing.com.png" alt="" class="iconImg"></li>
  <li (click)="todest()" class="my-2 icon"><img src="../../assets/destination-icon.png" alt="" class="iconImg"></li>
  <li (click)="tofair()" class="my-2 icon"><img src="../../assets/festival.png" alt="" class="iconImg"></li>
  <li (click)="tohome()" class="my-2 icon"><img src="../../assets/up-arrow.png" alt="" class="iconImg"></li>
</ul>