<img src="../../assets/Tithal-Beach-Banner.png" alt="Tithal Beach Banner" style="width: 100%; height: 700px; margin-bottom: 3%;">
<div class="container tithal-content">
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">About The Location</h5>
    <p>4 kilometers to the west of Valsad town is the beach along the Arabian Sea known as Tithal Beach. The black sand on this beach is well-known. It is a well-liked tourist spot in Valsad. In addition to the beach, Tithal is home to two significant temples: the Shri Sai Baba temple, which is 1.5 km south of the main beach, and the Shri Swami Narayan temple, which is 1.6 km north of the main beach. The Arabian Sea may be seen from both temples.</p>
    <img src="../../assets/Tithal-beach-image.jpeg" class="my-5" alt="Tithal Beach" style="width: 100%;">
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container get-there">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">How to Get There?</h4>
    <br><br>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-road.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Road</h6>
            <p class="text-muted">The Tithal Beach is well connected with major cities such as Surat (95 Km), Mumbai (196 Km) and Ahmedabad (336 Km) through road network.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-train.png" alt="" class="direction-imgs">
        <span class="transport-train">
            <h6>By Train</h6>
            <p class="text-muted">The nearest Railway station is Valsad, which is around 5 km from Tithal Beach and it takes about 12 Minutes to reach.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 5%;">
        <img src="../../assets/by-air.png" alt="" style="height: 100px; width: 250px;">
        <span class="transport-flight">
            <h6>By Air</h6>
            <p class="text-muted">The nearest Airport is at Surat, which is well connected to the rest of the country by regular flights. Surat Airport is located at a distance of approximately 93 km from Tithal Beach and it takes about 2.5 hours to reach.</p>
        </span>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container tithal-content-lower">
    <h3 style="font-family: 'Roboto Slab', serif; margin-top: 3%; margin-bottom: 5%;">Nearby Attractions</h3>
    <div class="row">
        <div class="col-4 destination-container-image">
            <a routerLink="/nargol-beach" class="darken">
                <img src="../../assets/nargol-beach.jpg" alt="Nargol Beach" style="height: 300px; width: 300px;">
                <h5>Nargol Beach</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/padam-dungri-ecotourism" class="darken">
                <img src="../../assets/padam-dungri.jpg" alt="Padam Dungri Ecotourism" style="height: 300px; width: 300px;">
                <h5>Padam Dungri Ecotourism</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/purna-wildlife" class="darken">
                <img src="../../assets/Purna-Wildlife.jpg" alt="Purna Wildlife Sanctuary" style="height: 300px; width: 300px;">
                <h5>Purna Wildlife Sanctuary</h5>
            </a>
        </div>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>