<img src="../../assets/Lakhpat-Fort-Banner.jpg" alt="Lakhpat Fort Banner" style="width: 100%; height: 700px; margin-bottom: 3%;">
<div class="container fort-content" id="aboutLocation">
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">About The Location</h5>
    <p>Only 33 km north of Narayan Sarovar lies the town of Lakhpat, with a walled fort as its main highlight. The town was an important coastal trade node in the 18th century. At the mouth of the Kori creek, the large fort walls still offer testimony to a short but glorious past. One can climb the fort rampart, the only remaining structure of the fort, and look over at the placid sea. This spot is particularly stunning at sunset. Within the fort walls, also lies a 16th century gurdwara. It is believed that Guru Nanak stopped here twice during his second (1506-1513) and fourth (1519-1521) missionary journey called Udasis. The gurdwara is a soothing spot for travellers. The soft hymns play constantly in the background, as travellers visit the ancient Sikh place of worship to see relics like wooden footwear, palkhi (palanquin), manuscripts and markings of two important heads of Udasi sect.</p>
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">Brief History</h5>
    <p>The remnants of the Lakhpat fort are reminders of the spot being a thriving trading a spot. More than 200 years old, the ramparts still keep the Arabian Ocean at bay. It is said that the fort is named after Rao Lakha, who ruled in Sindh about the middle of the thirteenth century. It was the 1800s where most political changes happened in this small town, changing the hands of the town from Fateh Muhammad, who enlarged the walls to Mohim Miyam, who was the commander of the fort. It fell to ruins through the century, as trade depleted, and the people in the town migrated to fairer pastures.</p>
    <img src="../../assets/lakhpat-fort-image.jpg" class="my-5" alt="Lakhpat Fort Image" style="width: 100%;">
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container get-there" id="getThere">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">How to Get There?</h4>
    <br><br>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-road.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Road</h6>
            <p class="text-muted">Lakhpat lies 135 km northwest to Bhuj.state and private buses service the city from all major parts of Gujarat.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-train.png" alt="" class="direction-imgs">
        <span class="transport-train">
            <h6>By Train</h6>
            <p class="text-muted">Bhuj railway station lies on the western railways network.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 5%;">
        <img src="../../assets/by-air.png" alt="" style="height: 100px; width: 250px;">
        <span class="transport-flight">
            <h6>By Air</h6>
            <p class="text-muted">The Bhuj airport lies 4km from the city and has ample domestic flights from major destinations in India.</p>
        </span>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container fort-content-lower" id="nearbyDestinations">
    <h3 style="font-family: 'Roboto Slab', serif; margin-top: 3%; margin-bottom: 5%;">Nearby Attractions</h3>
    <div class="row">
        <div class="col-4 destination-container-image">
            <a routerLink="/narayan-sarovar" class="darken">
                <img src="../../assets/narayan-sarovar.jpg" alt="Narayan Sarovar" style="height: 300px; width: 300px;">
                <h5>Narayan Sarovar</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/great-rann-of-kutch" class="darken">
                <img src="../../assets/great-rann-of-kutch.jpg" alt="Great Rann of Kutch" style="height: 300px; width: 300px;">
                <h5>Great Rann of Kutch</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/hatkeshwar-temple" class="darken">
                <img src="../../assets/hatkeshwar-temple.jpg" alt="Hatkeshwar Temple" style="height: 300px; width: 300px;">
                <h5>Hatkeshwar Temple</h5>
            </a>
        </div>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<ul class="navigation cf">
    <li (click)="toAbout()" class="my-2 icon"><svg xmlns="http://www.w3.org/2000/svg" height="1.4em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg></li>
    <li (click)="toGetThere()" class="my-2 icon"><svg xmlns="http://www.w3.org/2000/svg" height="1.4em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm306.7 69.1L162.4 380.6c-19.4 7.5-38.5-11.6-31-31l55.5-144.3c3.3-8.5 9.9-15.1 18.4-18.4l144.3-55.5c19.4-7.5 38.5 11.6 31 31L325.1 306.7c-3.2 8.5-9.9 15.1-18.4 18.4zM288 256a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg></li>
    <li (click)="toNearby()" class="my-2 icon"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M560 160A80 80 0 1 0 560 0a80 80 0 1 0 0 160zM55.9 512H381.1h75H578.9c33.8 0 61.1-27.4 61.1-61.1c0-11.2-3.1-22.2-8.9-31.8l-132-216.3C495 196.1 487.8 192 480 192s-15 4.1-19.1 10.7l-48.2 79L286.8 81c-6.6-10.6-18.3-17-30.8-17s-24.1 6.4-30.8 17L8.6 426.4C3 435.3 0 445.6 0 456.1C0 487 25 512 55.9 512z"/></svg></li>
</ul>