<img src="../../assets/vadnagar-buddhist-monastery-banner.jpg" alt="Vadnagar Buddhist Monastery Banner" style="width: 100%; height: 700px; margin-bottom: 3%;">
<div class="container monastery-content">
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">About The Location</h5>
    <p>The recent excavations have brought to light a Buddhist Monastery belonging to the 2nd-7th century AD, within the fortified area of Vadnagar. The monastery had two votive stupas and an open central count yard around which initially nine cells were constructed. The arrangement of cells around the central courtyard creates a swastika-like pattern.</p>
    <img src="../../assets/vadnagar-buddhist-monastery-image.jpg" class="my-5" alt="Vadnagar Buddhist Monastery Image" style="width: 100%;">
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container get-there">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">How to Get There?</h4>
    <br><br>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-road.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Road</h6>
            <p class="text-muted">Mehsana (47 km), Ahmedabad (111 km). Local Transport: Non-metered auto rickshaws.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-train.png" alt="" class="direction-imgs">
        <span class="transport-train">
            <h6>By Train</h6>
            <p class="text-muted">Siddhapur is a railway station on Ahmedabad - New Delhi railway line, 42 km from Vadnagar.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 5%;">
        <img src="../../assets/by-air.png" alt="" style="height: 100px; width: 250px;">
        <span class="transport-flight">
            <h6>By Air</h6>
            <p class="text-muted">Nearest airport is Ahmedabad (111 km).</p>
        </span>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container monastery-content-lower">
    <h3 style="font-family: 'Roboto Slab', serif; margin-top: 3%; margin-bottom: 5%;">Nearby Attractions</h3>
    <div class="row">
        <div class="col-4 destination-container-image">
            <a routerLink="/kirti-toran" class="darken">
                <img src="../../assets/vadnagar-kirti.jpg" alt="Vadnagar Kirti Toran" style="height: 300px; width: 300px;">
                <h5>Kirti Toran</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/modhera-sun-temple" class="darken">
                <img src="../../assets/suntemple.jpg" alt="Modhera Sun Temple" style="height: 300px; width: 300px;">
                <h5>Modhera Sun Temple</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/jain-temple" class="darken">
                <img src="../../assets/Taranga_Temple_thumbnail.jpg" alt="Jain Temple" style="height: 300px; width: 300px;">
                <h5>Taranga (Hill) Jain Temple</h5>
            </a>
        </div>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>