<img src="../../assets/Mitiyala-Banner.jpg" alt="Mitiyala Wildlife Sanctuary Banner" style="width: 100%; height: 700px; margin-bottom: 3%;">
<div class="container mitiyala-content" id="aboutLocation">
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">About The Location</h5>
    <p>Mitiyala grasslands known for the rustic, untamed essence of undulating hill tracks engulfed with tall grasses, semi-dry deciduous trees, is almost like an offshoot of Gir Lion Sanctuary. Mitiyala Wildlife Sanctuary occupying an area of 18.22 square kilometers got the confirmed status in the year 2004. The jungle pre-independence was part of the royal estate of Bhavnagar and Asiatic Lions in their most majestic aura were preserved along with other wildlife native to this region.</p>
    <p>As one wanders around the terrain the regal Asiatic Lions basking in the glory of nature greets and a further way down herds of spotted deer gallop around trying to move further away from the King of Jungle. The Lions often meander down to the Gir forests as the Mitiyala sanctuary is at a stones throw and shares a common boundary with the woodlands. The area between the Mitiyala and Gir Sanctuary serves as a passage connecting the two habitats for the wildlife residing in these areas.</p>
    <p>The rugged ridges with the grasses and scrubs in Mitliyala are a safe haven for two prides of lions and a solitary lion which is almost 11-12 lions. Other animals sharing the space with the royal king are leopards that diffidently rest around blending with the nature. Spotted deer in herds with their graceful movements gallop around the terrain and the Bluebulls or nilgai are often seen grazing around to their heart's contentment. Wild boars in groups which are known as sounders move around the area, eating anything from plants to little reptiles.</p>
    <p>Driving around the sanctuary, the winters are best time to experience the place and spend a day away from the daily routine. This small sanctuary with its diverse natural variety on offer is an ideal place to unwind and learn from the environment and enjoy the experience of nature’s creation. A day in the haven looking around the inhabitants can be quite an exciting endeavour, but just remember the King of Jungle does continue his life at his own fancy. He may or may not be present in or around the site when you are there. Keep ample amount of time in hand and wait for the jungle king while enjoying the varied species of birds and other animals in the vicinity.</p>
    <p>Being a responsible nature lover is our way of showing reverence to Mother Earth, a few tips for you to remember-</p>
    <ul>
        <li><strong>No smoking whatsoever (cigarette butts cause many forest fires).</strong></li>
        <li><strong>No flash or intrusive photography (for example, don't pluck leaves to clear a better view; reposition the camera instead).</strong></li>
        <li><strong>Do not carry any music system or sound making device along with you and remember to keep them switched off if you are driving around.</strong></li>
        <li><strong>Picking plants or insects prohibited; do not remove anything from the park.</strong></li>
        <li><strong>No quick or sudden movements to scare off wildlife.</strong></li>
        <li><strong>Do not try going to close to the animals.</strong></li>
        <li><strong>No pets should accompany you.</strong></li>
        <li><strong>No littering. Trash is only to be disposed of in proper receptacles.</strong></li>
        <li><strong>No hunting devices or other weapons should be carried, as well as used.</strong></li>
    </ul>
    <button class="btn btn-outline-dark" onclick= "window.open('https://forests.gujarat.gov.in/wildlife-sanctuaries.htm','_blank')">More Details Here</button>
    <img src="../../assets/mitiyala-image.jpg" class="my-5" alt="Mitiyala Image" style="width: 100%;">
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container get-there" id="getThere">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">How to Get There?</h4>
    <br><br>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-road.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Road</h6>
            <p class="text-muted">Junagadh is 327 km from Ahmedabad, 102 km from Rajkot, and 113 km from Porbandar, and is accessible by ST bus from each of these places, as well as from other cities in Gujarat by way of Veraval and Rajkot. Bus is recommended as the best way to get to Junagadh.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-train.png" alt="" class="direction-imgs">
        <span class="transport-train">
            <h6>By Train</h6>
            <p class="text-muted">Two express trains run on the Ahmedabad-Veraval line, one at night (with a rather inconvenient schedule) and one by day. Ahmedabad is 7.5 hours away by train. Junagadh is also on the Rajkot-Veraval line, with Rajkot 2.5 hours away, and Veraval 2 hours.</p>
        </span>
    </div>
    <br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container mitiyala-content-lower" id="nearbyDestinations">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">Nearby Attractions</h4>
    <div class="row">
        <div class="col-4 destination-container-image">
            <a routerLink="/girnar-hills" class="darken">
                <img src="../../assets/girnar-hills.jpg" alt="Girnar Hills" style="height: 300px; width: 300px;">
                <h5>Girnar Hills, Pilgrimage Centre</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/ashoke-edicts" class="darken">
                <img src="../../assets/ashoke-edicts.jpg" alt="Ashoke Edicts" style="height: 300px; width: 300px;">
                <h5>Ashoke Edicts of Junagadh</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/uparkotFort" class="darken">
                <img src="../../assets/uparkot.jpg" alt="Uparkot Fort" style="height: 300px; width: 300px;">
                <h5>Uparkot Fort</h5>
            </a>
        </div>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<ul class="navigation cf">
    <li (click)="toAbout()" class="my-2 icon"><svg xmlns="http://www.w3.org/2000/svg" height="1.4em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg></li>
    <li (click)="toGetThere()" class="my-2 icon"><svg xmlns="http://www.w3.org/2000/svg" height="1.4em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm306.7 69.1L162.4 380.6c-19.4 7.5-38.5-11.6-31-31l55.5-144.3c3.3-8.5 9.9-15.1 18.4-18.4l144.3-55.5c19.4-7.5 38.5 11.6 31 31L325.1 306.7c-3.2 8.5-9.9 15.1-18.4 18.4zM288 256a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg></li>
    <li (click)="toNearby()" class="my-2 icon"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M560 160A80 80 0 1 0 560 0a80 80 0 1 0 0 160zM55.9 512H381.1h75H578.9c33.8 0 61.1-27.4 61.1-61.1c0-11.2-3.1-22.2-8.9-31.8l-132-216.3C495 196.1 487.8 192 480 192s-15 4.1-19.1 10.7l-48.2 79L286.8 81c-6.6-10.6-18.3-17-30.8-17s-24.1 6.4-30.8 17L8.6 426.4C3 435.3 0 445.6 0 456.1C0 487 25 512 55.9 512z"/></svg></li>
</ul>