<img src="../../assets/Taranga-hill-Banner.jpg" alt="Taranga Hill Banner" style="width: 100%; height: 700px; margin-bottom: 3%;">
<div class="container temple-content" id="aboutLocation">
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">About The Location</h5>
    <p>Located 128 km north of Ahmedabad, and only 20 km from Vadnagar, the 3-peaked hill is significant for Buddhists and Jains. While the oldest Jain temple was built in the 12th century, Buddhist monuments dating back to the 4th century on this hill. Reaching the hilltop involves a trek. On reaching you can see small shrines dedicated to Buddhist Goddess, Devi Taranamata. Weathered terracotta images of Buddha and four carved images of Dhyani Buddha on a stone plate can be seen in cave formations. The Taranga Jain Temple is further up from here. This 12th century derasar is one of the best-preserved temples in Gujarat. There is a five-metre tall sculpture of the 2nd Jain Tirthankara, Shri Ajitnath, who represents inner stillness. The Svetambara complex consists of 14 temples, but there are 5 other Digambara shrines as well.</p>
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">Brief History</h5>
    <p>The earliest archaeological activity in 1938 reported that this was historically a Buddhist site from the 4th-5th century. According to Jain researchers, this place was known as Tarvur, Taravar Nagar, Tarangiri or Tarangarh. The holy book, ‘Kumarpal Pratibodh’ by Acharya Shri Somprabhsurishwar records the establishment of the temple of Shashanadhishthatri Shri Siddhadayika Devi by the then ruler King Vatsrai during the 6th century. Another legend states that the local Buddhist King Veni Vatsaraja and Jain monk Khaputacharya built a temple for goddess Tara together.</p>
    <img src="../../assets/Taranga-Jain-Temple-image.jpg" class="my-5" alt="Taranga Jain Temple" style="width: 100%;">
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container get-there" id="getThere">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">How to Get There?</h4>
    <br><br>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-road.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Road</h6>
            <p class="text-muted">Approx. 130 km from Ahmedabad, 50 km from Ambaji shrine and 56 km from Mehsana. Bus service and private vehicle rental are available from Ahmedabad, Mehsana, Patan, Siddhpur and Ambaji. Your bus will drop you off at Timba near Danta.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-train.png" alt="" class="direction-imgs">
        <span class="transport-train">
            <h6>By Train</h6>
            <p class="text-muted">The nearest major railway stations are Visnagar (38 km), Mehsana (52 km), Unjha (54 km) & Vijapur (60 km) approx. A slow local train also travels from Mehsana to Taranga (2 hrs). The temple is 5 km from the railway station.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 5%;">
        <img src="../../assets/by-air.png" alt="" style="height: 100px; width: 250px;">
        <span class="transport-flight">
            <h6>By Air</h6>
            <p class="text-muted">The temples are about 100 km from Gandhinagar and 130 km from Ahmedabad. Ahmedabad’s Sardar Vallabhbhai Patel International airport and railway station connects other key cities of India and across the world.</p>
        </span>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container temple-content-lower" id="nearbyDestinations">
    <h3 style="font-family: 'Roboto Slab', serif; margin-top: 3%; margin-bottom: 5%;">Nearby Attractions</h3>
    <div class="row">
        <div class="col-4 destination-container-image">
            <a routerLink="/modhera-sun-temple" class="darken">
                <img src="../../assets/suntemple.jpg" alt="Modhera Sun Temple" style="height: 300px; width: 300px;">
                <h5>Modhera Sun Temple</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/bachuchara-mata-temple" class="darken">
                <img src="../../assets/Bachuchara-mata-temple.jpg" alt="Bachuchara Mata Temple" style="height: 300px; width: 300px;">
                <h5>Bachuchara Mata Temple</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/rani-ki-vav" class="darken">
                <img src="../../assets/rani-ki-vav.jpg" alt="Rani Ki Vav" style="height: 300px; width: 300px;">
                <h5>Rani Ki Vav</h5>
            </a>
        </div>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<ul class="navigation cf">
    <li (click)="toAbout()" class="my-2 icon"><svg xmlns="http://www.w3.org/2000/svg" height="1.4em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg></li>
    <li (click)="toGetThere()" class="my-2 icon"><svg xmlns="http://www.w3.org/2000/svg" height="1.4em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm306.7 69.1L162.4 380.6c-19.4 7.5-38.5-11.6-31-31l55.5-144.3c3.3-8.5 9.9-15.1 18.4-18.4l144.3-55.5c19.4-7.5 38.5 11.6 31 31L325.1 306.7c-3.2 8.5-9.9 15.1-18.4 18.4zM288 256a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg></li>
    <li (click)="toNearby()" class="my-2 icon"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M560 160A80 80 0 1 0 560 0a80 80 0 1 0 0 160zM55.9 512H381.1h75H578.9c33.8 0 61.1-27.4 61.1-61.1c0-11.2-3.1-22.2-8.9-31.8l-132-216.3C495 196.1 487.8 192 480 192s-15 4.1-19.1 10.7l-48.2 79L286.8 81c-6.6-10.6-18.3-17-30.8-17s-24.1 6.4-30.8 17L8.6 426.4C3 435.3 0 445.6 0 456.1C0 487 25 512 55.9 512z"/></svg></li>
</ul>